<div class="p-grid">
    <div class="p-col-6">
        <div class="p-grid">
            <div class="p-col-12">
                <span class="ui-float-label">
                    <input id="float-codigo_plaza" type="text" size="10" pInputText > 
                    <label for="float-codigo_plaza">Modalidad</label>
                </span>
            </div>
            <div class="p-col-12">
                <span class="ui-float-label">
                    <input id="float-fuente_base" type="text" size="10" pInputText > 
                    <label for="float-fuente_base">Detalle</label>
                </span>
            </div>    
                           
        </div>
    </div>
    <div class="p-col-6">       
        <div class="p-grid">
            <div class="p-col-12">
                <span class="ui-float-label">
                    <input id="float-meta" type="text" size="50" pInputText > 
                    <label for="float-meta">Doc. ORH</label>
                </span>
            </div>
            <div class="p-col-12">
                <span class="ui-float-label">
                    <input id="float-meta" type="text" size="50" pInputText > 
                    <label for="float-meta">Doc. OPP</label>
                </span>
            </div>   
        </div>
    </div>
</div>