        .odd-row {
            background-color: #CEE3F6 !important;
            color: #000000 !important;
            width: 5% !important;
        }
        .even-row {
            background-color: #2CA8B1 !important;
            color: #ffffff !important;
            width: 10%;
        }
        body .ui-table .ui-table-tbody>tr>td {
            padding: .21em .5em  !important;
        }
