<div style="height:calc(100vh - 105px)">
            <dx-data-grid id="datagrid"   
            [columnMinWidth]="30"                
            height="100%" 
            [dataSource]="cap"
            [showRowLines]="true"
            [showColumnLines]="true"
            [showBorders]="true"
            [rowAlternationEnabled]="true"
            [remoteOperations]="false"
            [paging]="false"
            (onToolbarPreparing)="onToolbarPreparing($event)"
            >
            <dxo-grouping [autoExpandAll]="expanded"></dxo-grouping>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-export [enabled]="true" fileName="BaseCas" [allowExportSelectedData]="true"></dxo-export>                                                      
            <dxo-filter-row 
            [visible]="true"             
            ></dxo-filter-row>
            <dxo-header-filter 
            [visible]="true"></dxo-header-filter>
            <div *dxTemplate="let data of 'actualizado'">                
                    <span >Actualizado {{actualizado}}   </span>                
            </div>
            <dxi-column
            [width]="100"  
            dataField="presupuesto"
            caption="Presu."
            dataType="string"            
            selectedFilterOperation="contains"
            [filterOperations]="[]">  
            </dxi-column>   
            <dxi-column
            [width]="50"  
            dataField="fuente_base"
            caption="Fuente"
            dataType="string"            
            selectedFilterOperation="contains"
            [filterOperations]="[]">  
            </dxi-column>  
            <dxi-column
            [width]="50"  
            dataField="fuente_air"
            caption="Fuente"
            dataType="string"            
            selectedFilterOperation="contains"
            [filterOperations]="[]">  
            </dxi-column>              
            <dxi-column
            [width]="50"  
            dataField="meta"
            caption="Meta"
            dataType="string"            
            selectedFilterOperation="contains"
            [filterOperations]="[]">  
            </dxi-column> 
            <dxi-column
            [width]="250"  
            dataField="finalidad"
            caption="Finalidad"
            dataType="string"            
            selectedFilterOperation="contains"
            [filterOperations]="[]">  
            </dxi-column>   
            <dxi-column
            [width]="250"  
            dataField="desc_unidad"
            caption="Unidad"
            dataType="string"                        
            [filterOperations]="[]">  
            </dxi-column>
            <dxi-column
            [width]="250"  
            dataField="desc_area"
            caption="Area"
            dataType="string"                        
            [filterOperations]="[]">  
            </dxi-column>  
         
            <dxi-column                   
            [width]="80"
            caption="Codigo_Air"
            alignment="center"
            dataField="codigo_plaza"                    
            dataType="string"
            selectedFilterOperation="contains"
            [filterOperations]="[]">                                        
            </dxi-column>
            <dxi-column
            [width]="80"  
            dataField="numero_documento"
            caption="Dni"
            alignment="center"                        
            dataType="string"
            selectedFilterOperation="contains"
            [filterOperations]="[]">  
            </dxi-column>
            <dxi-column
            [width]="250"  
            dataField="nombres_air"
            alignment="left"            
            dataType="string"
            selectedFilterOperation="contains"            
            [filterOperations]="[]">  
            </dxi-column>             
            <dxi-column
            [width]="230"  
            dataField="desc_cargo_funcional"
            caption="Cargo"
            dataType="string"
            selectedFilterOperation="contains"
            [filterOperations]="[]">                  
            </dxi-column>  
            <dxi-column
            [width]="70"  
            dataField="estado_air"
            dataType="string" 
            caption="Estado"
            selectedFilterOperation="contains"
            [filterOperations]="[]">  
            </dxi-column>
               
            <dxi-column
            [width]="80"  
            dataField="honorarios"
            caption="Monto"
            dataType="number">
                <dxo-format
                    type="fixedPoint"
                    [precision]="2">
                </dxo-format>
            </dxi-column>
            <dxi-column
            [width]="80"  
            dataField="primera_subvencion"
            caption="Subvencion"
            dataType="number">
                <dxo-format
                    type="fixedPoint"
                    [precision]="2">
                </dxo-format>
            </dxi-column>
            <dxi-column
            [width]="80"  
            dataField="segunda_subvencion"
            caption="Subvencion"
            dataType="number">
                <dxo-format
                    type="fixedPoint"
                    [precision]="2">
                </dxo-format>
            </dxi-column>

           
            <dxo-summary>
                <dxi-total-item
                    column="codigo_plaza"
                    summaryType="count"                    
                    displayFormat="{0}"
                    >
                </dxi-total-item>
                    <dxi-total-item
                        column="HONORARIOS"
                        summaryType="sum"
                        valueFormat="#,##0.00"
                        displayFormat="{0}">
                    </dxi-total-item>                        
            </dxo-summary>                               
            <dxo-paging [enabled]="false"></dxo-paging>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
            <dxo-search-panel
            [width]="300"
            [visible]="true"
            [highlightCaseSensitive]="false">
            </dxo-search-panel>
        <dxo-summary>
            <dxi-group-item
                column="codigo_plaza"
                summaryType="count"
                displayFormat="{0} registros">
            </dxi-group-item>
            <dxi-group-item
            column="honorarios"
            summaryType="sum"                
            displayFormat="{0}"
            valueFormat= "#,##0.00"
            [showInGroupFooter]="false"
            [alignByColumn]="true">
                <dxo-format
                type="fixedPoint"
                [precision]="2">
                </dxo-format>
            </dxi-group-item>            
           </dxo-summary>
        </dx-data-grid>
</div>