<br>
<p-tabView>
   <p-tabPanel header="Base" >
      <ng-template pTemplate="content">
         <zd-base-formativa></zd-base-formativa>
      </ng-template>
   </p-tabPanel>
   <p-tabPanel header="SigaNet" >
      <ng-template pTemplate="content">
         <zd-siga-formativa></zd-siga-formativa>
      </ng-template>
   </p-tabPanel>
   <p-tabPanel header="AirHsp" >
      <ng-template pTemplate="content">         
         <zd-airhsp-formativa></zd-airhsp-formativa>
      </ng-template>
   </p-tabPanel>
   <p-tabPanel header="Resumen" >
      <ng-template pTemplate="content">         
         <zd-resumen-formativa></zd-resumen-formativa>
      </ng-template>
   </p-tabPanel>

</p-tabView>