<div style="height:calc(100vh - 105px)">
            <dx-data-grid id="gridContainer"   
                [columnMinWidth]="30"                
                height="100%" 
                [dataSource]="dataSource"

                [filterValue]="filterValue"
                (onToolbarPreparing)="onToolbarPreparing($event)"
                (onCellPrepared)="onCellPrepared($event)"
                >
                <dxo-editing 
                width="50"
                mode="row"
                [allowUpdating]="true"
                [allowDeleting]="true">                
                </dxo-editing>
                <dxo-paging [enabled]="false"></dxo-paging>
                <dxo-export [enabled]="true" fileName="BaseCas" [allowExportSelectedData]="true"></dxo-export>                                                      
                <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
                <dxo-search-panel
                [width]="300"
                [visible]="true"
                [highlightCaseSensitive]="false">
        </dxo-search-panel>
                <dxo-filter-row 
                [visible]="true"                 
                ></dxo-filter-row>
                <dxo-header-filter 
                [visible]="true"></dxo-header-filter>
                <dxo-scrolling
                    mode="standard" rowRenderingMode="standard" columnRenderingMode= "standard"
                    showScrollbar="always"> <!-- or "virtual" | "infinite" -->                    
                </dxo-scrolling>
                <dxi-column                   
                    [width]="60"
                    caption="Airhsp"                    
                    dataField="codigo_plaza"
                    [fixed]="true"
                    dataType="string"
                    alignment="center"
                    selectedFilterOperation="contains"
                    >                                        
                </dxi-column>
                                      
            
            <dxi-column
            alignment="center"
            caption="PLAZA">
            <dxi-column                   
            [width]="100"
            caption="Modalidad"                    
            dataField="modalidad"
            [fixed]="true"
            dataType="string"
            alignment="center"
            selectedFilterOperation="contains"
            >  
            </dxi-column>
            <dxi-column                   
            [width]="60"
            caption="Plaza"                    
            dataField="plaza"
            [fixed]="true"
            dataType="string"
            alignment="center"
            selectedFilterOperation="contains"
            >  
            </dxi-column>
                <dxi-column                   
                [width]="55"
                caption="Sede"
                alignment="center"
                dataField="lugar"
                [fixed]="true"                
                dataType="string"
                selectedFilterOperation="contains"
                >                                        
                </dxi-column>
                <dxi-column
                [width]="40"  
                dataField="fuente_base"
                caption="Fuente"
                alignment="center"
                [fixed]="true"                
                dataType="string"
                selectedFilterOperation="contains"
                >  
                </dxi-column>
                <dxi-column
                [width]="50"  
                dataField="meta"
                alignment="center"
                [fixed]="true"
                dataType="string"
                selectedFilterOperation="contains"
                >  
                </dxi-column>
                <dxi-column
                caption="Tipo"
                [width]="50"  
                dataField="tipo"
                alignment="center"
                [fixed]="true"
                dataType="string"
                selectedFilterOperation="contains"
                >  
                </dxi-column>
                <dxi-column
                caption="Tipo"
                [width]="50"  
                dataField="tipo2"
                alignment="center"
                [fixed]="true"
                dataType="string"
                selectedFilterOperation="contains"
                >  
                </dxi-column>
            </dxi-column>
            <dxi-column
            alignment="center"
            caption="PRESUPUESTO">
            <dxi-column
            [width]="150"  
            dataField="producto"
            caption="Producto"
            dataType="string"
            >  
            </dxi-column>  
                <dxi-column     
                    [minWidth]="230"          
                    dataField="meta_id"
                    caption="Finalidad">
                    <dxo-lookup
                    [dataSource]="metas2"
                    displayExpr="finalidad"
                    valueExpr="idmeta_anual">
                    </dxo-lookup>    
                </dxi-column>   
                <dxi-column
                [width]="280"  
                dataField="desc_unidad"
                caption="Unidad"
                dataType="string"
                >  

                </dxi-column>  
                <dxi-column
                [width]="280"  
                dataField="org_area_id"
                caption="Area"
                dataType="string"
                >  
                    <dxo-lookup
                    [dataSource]="areas"
                    displayExpr="desc_area"
                    valueExpr="id">
                    </dxo-lookup> 
                </dxi-column>   

                <dxi-column
                [width]="200"  
                dataField="dependencia"
                caption="Area"
                dataType="string"
                selectedFilterOperation="contains"
                >  
                </dxi-column>     
                <dxi-column
                [width]="200"  
                dataField="ds_jerarquia"
                caption="Ubicacion"
                dataType="string"
                selectedFilterOperation="contains"
                >  
                </dxi-column>  
                <dxi-column
                [width]="200"  
                dataField="nu_contrato"
                caption="Contrato"
                dataType="string"
                selectedFilterOperation="contains"
                >  
                </dxi-column>      
                <dxi-column
                [width]="100"  
                dataField="tramite"
                caption="Tramite"
                dataType="string"
                selectedFilterOperation="contains"
                >  
                <dxo-lookup 
                [dataSource]="['ACTIVA','DISPONIBLE','TRAMITE','CERTIFICADA','CONVOCADA','PRESUPUESTADA']"
            >
           </dxo-lookup> 
                </dxi-column>   
                <dxi-column
                [width]="200"  
                dataField="nro_tramite"
                caption="N° Tramite"
                dataType="string"
                selectedFilterOperation="contains"
                >  
                </dxi-column>        
                <dxi-column
                [width]="200"  
                dataField="cargo"
                dataType="string"
                selectedFilterOperation="contains"
                >  
                </dxi-column>                
                <dxi-column
                [width]="70"  
                dataField="dni"
                dataType="string" 
                selectedFilterOperation="contains"
                >  
                </dxi-column>
                <dxi-column
                [width]="230"  
                dataField="nombres"
                dataType="string"
                selectedFilterOperation="contains"
                >  
                </dxi-column>  
                <dxi-column
                [width]="100"  
                dataField="presupuesto"
                caption="Presup."
                alignment="center"                
                dataType="string"
                selectedFilterOperation="contains"                
                >     
                <dxo-lookup 
                     [dataSource]="['ACTIVO','INACTIVO']"
                 >
                </dxo-lookup> 
                </dxi-column>  
                <dxi-column
                [width]="80"  
                caption="Monto Base"
                dataField="monto_base"
                dataType="number">
                <dxo-format
                    type="fixedPoint"
                    [precision]="2">
                </dxo-format>                           
                </dxi-column>   
            </dxi-column>   
            <dxi-column
            alignment="center"
            caption="ALTA Y BAJA">            
                <dxi-column
                [width]="80"  
                caption="Alta"
                dataField="fecha_alta"
                dataType="string"
                selectedFilterOperation="contains"
                >  
                </dxi-column>
                <dxi-column
                [width]="80"  
                caption="Baja"
                dataField="fecha_baja"
                dataType="string"
                selectedFilterOperation="contains"
                >  
                </dxi-column>
                </dxi-column>
                <dxi-column
                alignment="center"
                caption="ESTADOS">
                    <dxi-column
                    [width]="80"  
                    caption="Estadod Air"
                    dataField="estado_air"
                    dataType="string"
                    selectedFilterOperation="contains"
                    >  
                    </dxi-column>
    
                    <dxi-column
                    [width]="90"  
                    caption="Estado OPP"
                    dataField="estado_opp"
                    dataType="string"
                    selectedFilterOperation="contains"
                    >                  
                    </dxi-column>
                    <dxi-column
                    [width]="100"  
                    caption="Estado PAP"
                    dataField="estado_pap"
                    dataType="string"
                    selectedFilterOperation="contains"
                    >  
                    </dxi-column>
                    <dxi-column
                    [width]="90"  
                    caption="Estado Actual"
                    dataField="estado"
                    dataType="string"
                    selectedFilterOperation="contains"
                    >                  
                    </dxi-column>
                    <dxi-column
                    [width]="90"  
                    caption="Estado Siga"
                    dataField="estados"
                    dataType="string"
                    selectedFilterOperation="contains"
                    >  
                    </dxi-column>
                </dxi-column>

                <dxi-column
                    alignment="center"
                    caption="AIRHSP">                                
                    <dxi-column
                    [width]="100"  
                    caption="Fuente Air"
                    dataField="fuente_air"
                    dataType="string"
                    selectedFilterOperation="contains"
                    >  
                    </dxi-column>
                    
                    <dxi-column
                    [width]="100"  
                    caption="Inicio"
                    dataField="fecha_inicio_vigencia_reg"
                    dataType="string"
                    selectedFilterOperation="contains"
                    >  
                    </dxi-column>
                    <dxi-column
                    [width]="100"  
                    caption="Fin"
                    dataField="fecha_fin_vigencia_reg"
                    dataType="string"
                    selectedFilterOperation="contains"
                    >  
                    </dxi-column>
                    <dxi-column
                    [width]="80"  
                    dataField="monto_air"
                    dataType="number">
                        <dxo-format
                            type="fixedPoint"
                            [precision]="2">
                        </dxo-format>
                    </dxi-column>
                    <dxi-column
                    [width]="90"  
                    dataField="dni_air"
                    dataType="string"
                    selectedFilterOperation="contains"
                    >  
                    </dxi-column>
                    <dxi-column
                    [width]="270"  
                    dataField="nombres_air"
                    dataType="string"
                    selectedFilterOperation="contains"
                    >  
                    </dxi-column>
                    <dxi-column
                    [width]="50"  
                    dataField="tipo_air"
                    dataType="string"
                    selectedFilterOperation="contains"
                    >  
                    </dxi-column>
                    <dxi-column
                    [width]="50"  
                    dataField="media_subvencion"
                    dataType="string"
                    selectedFilterOperation="contains"
                    >  
                    </dxi-column>
                </dxi-column>

                <dxi-column
                alignment="center"
                caption="SIGANET">
                <dxi-column
                [width]="70"  
                dataField="fuente_siga"
                dataType="string"
                selectedFilterOperation="contains"
                >  
                </dxi-column>  
                <dxi-column
                [width]="70"  
                dataField="meta_siga"
                dataType="string"
                selectedFilterOperation="contains"
                >  
                </dxi-column>   
                <dxi-column
                [width]="270"  
                dataField="unidad_siga"
                dataType="string"
                selectedFilterOperation="contains"
                >  
                </dxi-column>  
                <dxi-column
                [width]="70"  
                dataField="dni_siga"
                dataType="string"
                selectedFilterOperation="contains"
                >  
                </dxi-column>             
                <dxi-column
                [width]="270"  
                dataField="nombres_siga"
                dataType="string"
                selectedFilterOperation="contains"
                >  
                </dxi-column>                
                <dxi-column
                    [width]="380"  
                    dataField="detalle"
                    dataType="string"
                    selectedFilterOperation="contains"
                    >  
                </dxi-column>
              </dxi-column>
                <dxo-summary>
                    <dxi-total-item
                        column="codigo_plaza"
                        summaryType="count"
                        
                        displayFormat="{0}"
                        >
                    </dxi-total-item>
                    <dxi-total-item
                    column="monto_base"
                    summaryType="sum"
                    valueFormat="#,##0.00"
                    displayFormat="{0}">
                </dxi-total-item>
                    <dxi-total-item
                        column="monto"
                        summaryType="sum"
                        valueFormat="#,##0.00"
                        displayFormat="{0}">
                    </dxi-total-item>
                </dxo-summary>                
                <dxo-paging [enabled]="false"></dxo-paging>
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>


            </dx-data-grid>
</div>