
            <dx-data-grid id="gridContainer"   
                [columnMinWidth]="30"                
                [height]="840" 
                [dataSource]="dataSource"
                [showRowLines]="true"
                [showColumnLines]="true"
                [showBorders]="true"
                [rowAlternationEnabled]="true"
                [remoteOperations]="false"    
                [repaintChangesOnly]="true"
                (onOptionChanged)="optionChanged($event)"       
                >    
                <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>            
                <dxo-export [enabled]="true" fileName="BaseCas" [allowExportSelectedData]="true"></dxo-export>                                                      
                <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
                <dxo-filter-row 
                [visible]="true" 
                ></dxo-filter-row>
                <dxo-header-filter 
                [visible]="true"></dxo-header-filter>
                <dxo-scrolling
                    mode="standard"
                    showScrollbar="always"> <!-- or "virtual" | "infinite" -->                    
                </dxo-scrolling>
                <dxi-column                   
                    [width]="50"
                    caption="fuente"                    
                    dataField="fuente"
                    [fixed]="true"
                    dataType="string"
                    alignment="center"
                    selectedFilterOperation="contains"
                    [filterOperations]="[]">                                        
                </dxi-column>
                <dxi-column                   
                [width]="50"
                caption="Sede"
                alignment="center"
                dataField="sede"
                [fixed]="true"                
                dataType="string"
                selectedFilterOperation="contains"
                [filterOperations]="[]">                                        
                </dxi-column>               
                <dxi-column
                [width]="250"  
                dataField="finalidad"
                alignment="left"
                [fixed]="true"
                dataType="string"
                selectedFilterOperation="contains"
                [filterOperations]="[]">  
                </dxi-column>                
                <dxi-column
                [width]="50"  
                dataField="peas"
                dataType="string"
                selectedFilterOperation="contains"
                [filterOperations]="[]">  
                </dxi-column>                
                <dxi-column
                [width]="80"  
                caption="Pim"
                dataField="mto_pim"
                dataType="number">
                    <dxo-format
                        type="fixedPoint"
                        [precision]="2">
                    </dxo-format>
                </dxi-column>
                <dxi-column
                [width]="80"  
                caption="Enero"
                dataField="enero"                
                [(visible)]="enero_visible"
                dataType="number">
                    <dxo-format
                        type="fixedPoint"
                        [precision]="2">
                    </dxo-format>
                </dxi-column>
                <dxi-column
                [width]="80"  
                caption="febrero"
                dataField="febrero"
                dataType="number">
                    <dxo-format
                        type="fixedPoint"
                        [precision]="2">
                    </dxo-format>
                </dxi-column>
                <dxi-column
                [width]="80"  
                caption="Marzo"
                dataField="marzo"
                dataType="number">
                    <dxo-format
                        type="fixedPoint"
                        [precision]="2">
                    </dxo-format>
                </dxi-column>
                <dxi-column
                [width]="80"  
                caption="Abril"
                dataField="abril"
                dataType="number">
                    <dxo-format
                        type="fixedPoint"
                        [precision]="2">
                    </dxo-format>
                </dxi-column>
                <dxi-column
                [width]="80"  
                caption="Mayo"
                dataField="mayo"
                dataType="number">
                    <dxo-format
                        type="fixedPoint"
                        [precision]="2">
                    </dxo-format>
                </dxi-column>
                <dxi-column
                [width]="80"  
                caption="Junio"
                dataField="junio"
                dataType="number">
                    <dxo-format
                        type="fixedPoint"
                        [precision]="2">
                    </dxo-format>
                </dxi-column>
                <dxi-column
                [width]="80"  
                caption="julio"
                dataField="julio"
                dataType="number">
                    <dxo-format
                        type="fixedPoint"
                        [precision]="2">
                    </dxo-format>
                </dxi-column>
                <dxi-column
                [width]="80"  
                caption="Agosto"
                dataField="agosto"
                dataType="number">
                    <dxo-format
                        type="fixedPoint"
                        [precision]="2">
                    </dxo-format>
                </dxi-column>
                <dxi-column
                [width]="80"  
                caption="Setiembre"
                dataField="setiembre"
                dataType="number">
                    <dxo-format
                        type="fixedPoint"
                        [precision]="2">
                    </dxo-format>
                </dxi-column>
                <dxi-column
                [width]="80"  
                caption="Octubre"
                dataField="octubre"
                dataType="number">
                    <dxo-format
                        type="fixedPoint"
                        [precision]="2">
                    </dxo-format>
                </dxi-column>
                <dxi-column
                [width]="80"  
                caption="Noviembre"
                dataField="noviembre"
                dataType="number">
                    <dxo-format
                        type="fixedPoint"
                        [precision]="2">
                    </dxo-format>
                </dxi-column>
                <dxi-column
                [width]="80"  
                caption="Diciembre"
                dataField="diciembre"
                dataType="number">
                    <dxo-format
                        type="fixedPoint"
                        [precision]="2">
                    </dxo-format>
                </dxi-column>

                <dxi-column
                     [width]="80"
                    caption="Total"
                    [calculateDisplayValue]="this.calculateTotal"
                    [(visible)]="enero_visible"
                    >
                    <dxo-format
                        type="fixedPoint"
                        [precision]="2">
                     </dxo-format>
                </dxi-column>
                <dxi-column
                [width]="270"  
                dataField="nombres_air"
                dataType="string"
                selectedFilterOperation="contains"
                [filterOperations]="[]">  
                </dxi-column>
                <dxi-column
                [width]="270"  
                dataField="nombres_siga"
                dataType="string"
                selectedFilterOperation="contains"
                [filterOperations]="[]">  
                </dxi-column>
                <dxi-column
                    [width]="280"  
                    dataField="detalle"
                    dataType="string"
                    selectedFilterOperation="contains"
                    [filterOperations]="[]">  
                </dxi-column>
                <dxo-summary>
                    <dxi-total-item
                        column="codigo_plaza"
                        summaryType="count"
                        
                        displayFormat="{0}"
                        >
                    </dxi-total-item>
                    <dxi-total-item
                        column="monto"
                        summaryType="sum"
                        valueFormat="#,##0.00"
                        displayFormat="{0}">
                    </dxi-total-item>
                </dxo-summary>                
                <dxo-paging [enabled]="false"></dxo-paging>
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                <dxo-search-panel
                [width]="300"
                [visible]="true"
                [highlightCaseSensitive]="false">
        </dxo-search-panel>
            <dxo-summary>
                <dxi-group-item
                    column="codigo_plaza"
                    summaryType="count"
                    displayFormat="{0} registros">
                </dxi-group-item>
                <dxi-group-item
                column="monto"
                summaryType="sum"                
                displayFormat="{0}"
                valueFormat= "#,##0.00"
                [showInGroupFooter]="false"
                [alignByColumn]="true">
                    <dxo-format
                    type="fixedPoint"
                    [precision]="2">
                    </dxo-format>
                </dxi-group-item>
               </dxo-summary>
            </dx-data-grid>

            <div class="options">
                <div class="caption">Opciones</div>
                <div class="option">
                    <dx-check-box
                        [(value)]="expand.autoExpandAll"
                        text="Expandir todo">
                    </dx-check-box>
                </div>
            </div>