<div style="height:calc(100vh - 105px)">
            <dx-data-grid id="datagrid"   
            [columnMinWidth]="30"                
            height="100%"
            [dataSource]="formativas"
            >
            
           <dxo-export [enabled]="true" fileName="BaseCas" [allowExportSelectedData]="true"></dxo-export> 
                       <dxo-export [enabled]="true" fileName="BaseCas" [allowExportSelectedData]="true"></dxo-export>                                                      
            <dxo-filter-row 
            [visible]="true"             
            ></dxo-filter-row>
            <dxo-header-filter 
            [visible]="true"></dxo-header-filter>
            <dxo-paging [enabled]="false"></dxo-paging>
            <dxo-search-panel
            [width]="300"
            [visible]="true"
            [highlightCaseSensitive]="false">
            </dxo-search-panel>
            
                                                    
            
            <div *dxTemplate="let data of 'actualizado'">                
                <span >Actualizado {{actualizado}}   </span>                
            </div>
            <dxi-column 
            width="60"           
            dataField="id_prestamo"
            caption="Fuente"
            dataType="string"            
            selectedFilterOperation="contains"
            >  
            </dxi-column>              
            <dxi-column
            width="60"
            dataField="id_mnemonico"
            caption="Meta"
            dataType="string"            
            selectedFilterOperation="contains"
            >  
            </dxi-column> 
            <dxi-column
            
            dataField="finalidad"
            caption="Finalidad"
            dataType="string"            
            selectedFilterOperation="contains"
            >  
            </dxi-column> 
            <dxi-column                   
            width="60"
            caption="Codigo_Air"
            alignment="center"
            dataField="codigo_plaza"                    
            dataType="string"
            selectedFilterOperation="contains"
            >                                        
            </dxi-column>
            <dxi-column
            width="80"
            dataField="nu_dociden"
            caption="Dni"
            alignment="center"                        
            dataType="string"
            selectedFilterOperation="contains"
            >  
            </dxi-column>
            <dxi-column
            
            dataField="nombres"
            alignment="left"            
            dataType="string"
            selectedFilterOperation="contains"
            >  
            </dxi-column>             
            <dxi-column
            
            dataField="nu_contrato"
            caption="Contrato"
            dataType="string"
            selectedFilterOperation="contains"
            >                  
            </dxi-column>  
            <dxi-column
            
            dataField="ds_jerarquia"
            dataType="string" 
            caption="Ubicacion"
            selectedFilterOperation="contains"
            >  
            </dxi-column>
            <dxi-column
            width="80"
            dataField="fe_ingreso"
            dataType="string" 
            caption="Ingreso"
            selectedFilterOperation="contains"
            >  
            </dxi-column>  
            <dxi-column
            width="80"
            dataField="fe_contrato"
            dataType="string" 
            caption="Contrato"
            selectedFilterOperation="contains"
            >  
            </dxi-column>  
            <dxi-column
            width="60"
            dataField="fe_cese"
            dataType="string" 
            caption="Cese"
            selectedFilterOperation="contains"
            >  
            </dxi-column>  
            <dxi-column
            width="60"
            dataField="mt_contmn"
            caption="Monto"
            dataType="number">

            </dxi-column>

            <dxo-summary>
                <dxi-total-item
                    column="nu_dociden"
                    summaryType="count"                    
                    displayFormat="{0}"
                    >
                </dxi-total-item>
                    <dxi-total-item
                        column="mt_contmn"
                        summaryType="sum"
                        valueFormat="#,##0.00"
                        displayFormat="{0}">
                    </dxi-total-item>
                        <dxi-total-item
                        column="essalud"
                        summaryType="sum"
                        valueFormat="#,##0.00"
                        displayFormat="{0}">
                      </dxi-total-item>
                    <dxi-total-item
                        column="sctr_salud"
                        summaryType="sum"
                        valueFormat="#,##0.00"
                        displayFormat="{0}">
                      </dxi-total-item>
                    <dxi-total-item
                        column="sctr_pension"
                        summaryType="sum"
                        valueFormat="#,##0.00"
                        displayFormat="{0}">
                    </dxi-total-item>
                    <dxi-total-item
                        column="eps_aporte"
                        summaryType="sum"
                        valueFormat="#,##0.00"
                        displayFormat="{0}">
                    </dxi-total-item>
            </dxo-summary>                              


         <dxo-summary>
            <dxi-group-item
                column="nu_dociden"
                summaryType="count"
                displayFormat="{0} registros">
            </dxi-group-item>
            <dxi-group-item
            column="mt_contmn"
            summaryType="sum"                
            displayFormat="{0}"
            valueFormat= "#,##0.00"
            [showInGroupFooter]="false"
            [alignByColumn]="true">
                <dxo-format
                type="fixedPoint"
                [precision]="2">
                </dxo-format>
            </dxi-group-item>
            <dxi-group-item
            column="essalud"
            summaryType="sum"                
            displayFormat="{0}"
            valueFormat= "#,##0.00"
            [showInGroupFooter]="false"
            [alignByColumn]="true">
                <dxo-format
                type="fixedPoint"
                [precision]="2">
                </dxo-format>
            </dxi-group-item>
            <dxi-group-item
            column="sctr_salud"
            summaryType="sum"                
            displayFormat="{0}"
            valueFormat= "#,##0.00"
            [showInGroupFooter]="false"
            [alignByColumn]="true">
                <dxo-format
                type="fixedPoint"
                [precision]="2">
                </dxo-format>
            </dxi-group-item>
            <dxi-group-item
            column="sctr_pension"
            summaryType="sum"                
            displayFormat="{0}"
            valueFormat= "#,##0.00"            
            [alignByColumn]="true">

            </dxi-group-item>

           </dxo-summary> 
        </dx-data-grid>
        </div>
