<div style="height:calc(100% - 65px)">
    <dx-pivot-grid id="pivotgrid"
    [allowSorting]="true"      
    [allowFiltering]="true"  
    [allowSortingBySummary]="true"
    [allowFiltering]="true"
    height="100%"            
    [showBorders]="true"
    rowHeaderLayout="standard"        
    [showRowGrandTotals]="true"
    
    
    [allowExpandAll]="true"
    [dataSource]="pivotGridDataSource"  
   
  >
    <dxo-header-filter
    
    
    
    >
    </dxo-header-filter>
    <dxo-export [enabled]="true" fileName="Laudos"></dxo-export>
    <dxo-field-panel
    [showDataFields]="false"
    [showRowFields]="true"
    
    [showFilterFields]="true"
    [allowFieldDragging]="true"
    [visible]="true">
</dxo-field-panel>
    <dxo-scrolling mode="standard"></dxo-scrolling>
</dx-pivot-grid>
</div>