

.dx-datagrid .dx-row > td {
    padding: 2px 2px 2px 5px !important;
    font-size: 11.5px !important;
}

.dx-datagrid-headers .dx-texteditor-input {
    padding: 2px 2px 2px 5px !important;
    font-size: 11.5px !important;
    min-height: 15px !important;
}

/* DropBox de grid */

.dx-datagrid-rowsview .dx-texteditor-input {
    padding: 2px 2px 2px 5px !important;
    font-size: 11.5px !important;
    min-height: 15px !important;
}

.dx-item-content dx-list-item-content {
    font-size: 11.5px !important;
}

.dx-datagrid .dx-header-filter {  
    color:rgba(190, 162, 0, 0.822);  
    font-size: 8px;
}

.dx-row .dx-column-lines .dx-datagrid-filter-row {  
    padding: 2px 2px 2px 5px !important;
    font-size: 8px;
}

.dx-datagrid .dx-header-row {  
    padding: 2px 2px 2px 5px !important;
    background-color: rgb(48, 54, 121);
    color: white;      
    font-size: 11px;
}

.dx-button-has-text .dx-button-content {
    padding: 4px 4px 4px;
}

.dx-checkbox-container{
    height: 23px;
}

