<br>
<p-tabView>
   <p-tabPanel header="Base" >
      <ng-template pTemplate="content">
         <zd-base-cap></zd-base-cap>
      </ng-template>
   </p-tabPanel>
   <p-tabPanel header="SigaNet" >
      <ng-template pTemplate="content">
         <zd-siga-cap></zd-siga-cap>
      </ng-template>
   </p-tabPanel>
   <p-tabPanel header="AirHsp" >
      <ng-template pTemplate="content">         
         <zd-airhsp-cap></zd-airhsp-cap>
      </ng-template>
   </p-tabPanel>
   <p-tabPanel header="Vida Ley" >
      <ng-template pTemplate="content">         
         <zd-base-cap-vida-ley></zd-base-cap-vida-ley>
      </ng-template>
   </p-tabPanel>
   <p-tabPanel header="Sctr Pension" >
      <ng-template pTemplate="content">         
         <zd-base-cap-sctr-pension></zd-base-cap-sctr-pension>
      </ng-template>
   </p-tabPanel>
</p-tabView>