<div style="height:calc(100vh - 105px)">
    <dx-popup  
    [height]="650"
    [showTitle]="true"
    title="Alta"
    [dragEnabled]="false"
    (onHidden)='closeAlta()'
    [(visible)]="popupAlta">  
    <div *dxTemplate="let data of 'content'">  
        <dx-scroll-view width="100%" height="100%">
        <zd-base-cap-alta [archivo]="rowData" ></zd-base-cap-alta>  
        </dx-scroll-view>
    </div>  
    </dx-popup> 

    <dx-popup  
    [height]="650"
    [showTitle]="true"
    title="Baja"
    [dragEnabled]="false"
    (onHidden)='closeBaja()'
    [(visible)]="popupBaja">  
    <div *dxTemplate="let data of 'content'">  
        <dx-scroll-view width="100%" height="100%">
        <zd-base-cap-baja [archivo]="rowData" ></zd-base-cap-baja>  
        </dx-scroll-view>
    </div>  
    </dx-popup> 
<dx-popup #popup     
    [height]="800"
    [showTitle]="true"
    title="Designacion"
    [dragEnabled]="false"    
    [(visible)]="popupDesignacion">  
    <div *dxTemplate="let data of 'content'">  
        <dx-scroll-view width="100%" height="100%">
        <zd-base-cap-designacion [archivo]="rowData" ></zd-base-cap-designacion>  
        </dx-scroll-view>
    </div>  
</dx-popup>  

<dx-popup  
    [height]="650"
    [showTitle]="true"
    title="Concurso"
    [dragEnabled]="false"    
    [(visible)]="popupConcurso">  
    <div *dxTemplate="let data of 'content'">  
        <dx-scroll-view width="100%" height="100%">
        <zd-base-cas-concurso [archivo]="rowData" ></zd-base-cas-concurso>  
        </dx-scroll-view>
    </div>  
</dx-popup>     
  
            <dx-data-grid id="gridContainer"     
                keyExpr="id"                             
                [dataSource]="dataSource"
                [columnWidth]="40"
                (onToolbarPreparing)="onToolbarPreparing($event)"
                (onCellPrepared)="onCellPrepared($event)"
                (onEditorPrepared)="onEditorPrepared($event)"
                (onContextMenuPreparing)="addMenuItems($event)"
                >          
                <dxo-selection mode="single"></dxo-selection>    
                <dxo-paging [enabled]="false"></dxo-paging>
                <dxo-editing 
                width="50"
                mode="row"
                [allowUpdating]="true">                
                </dxo-editing>
                <dxo-export [enabled]="true" fileName="BaseCap" [allowExportSelectedData]="true"></dxo-export>                                                                      
                <dxo-filter-row 
                [visible]="true"                 
                ></dxo-filter-row>
                <dxo-header-filter 
                [visible]="true"></dxo-header-filter>
                <dxo-scrolling
                    mode="standard" rowRenderingMode="standard" columnRenderingMode= "standard"
                    showScrollbar="always"> <!-- or "virtual" | "infinite" -->                    
                </dxo-scrolling>             
                    <dxi-column                   
                    [minWidth]="60"
                    caption="Airhsp"                    
                    dataField="codigo_plaza"
                    [fixed]="true"
                    dataType="string"
                    alignment="left"
                    selectedFilterOperation="contains"
                    [filterOperations]="[]">                                        
                    </dxi-column>       
              <dxi-column
              caption='CAP'
              alignment="center">
              <dxi-column          
              [fixed]="true"         
              [minWidth]="60"
              caption="Plaza"
              alignment="left"
              dataField="plaza"
              [fixed]="true"                
              dataType="string"
              selectedFilterOperation="contains"
              [filterOperations]="[]">                                        
              </dxi-column>
              <dxi-column          
              [fixed]="true"         
              [minWidth]="60"
              caption="Plaza Ant."
              alignment="left"
              dataField="plaza_old"
              [fixed]="true"                
              dataType="string"
              selectedFilterOperation="contains"
              [filterOperations]="[]">                                        
              </dxi-column>
              <dxi-column          
              [fixed]="true"         
              [minWidth]="60"
              caption="Estado CAP"
              alignment="center"
              dataField="estado_cap"
              [fixed]="true"                
              dataType="string"
              selectedFilterOperation="contains"
              [filterOperations]="[]"   
              [filterValues]="['O']"                         
              >
                  <dxo-lookup 
                  [dataSource]="['O','P']"
                  >
                  </dxo-lookup>                                    
              </dxi-column>
              <dxi-column
              [minWidth]="250"  
              dataField="organo_cap"
              caption="Organo Cap"
              dataType="string"
              selectedFilterOperation="contains"
              [filterOperations]="[]">  
              </dxi-column> 
              <dxi-column
              [minWidth]="250"  
              dataField="unidad_cap"
              caption="Unidad Cap"
              dataType="string"
              selectedFilterOperation="contains"
              [filterOperations]="[]">  
              </dxi-column>    
              <dxi-column
              [minWidth]="250"  
              dataField="cargocap"
              caption="Cargo Cap"
              dataType="string"
              selectedFilterOperation="contains"
              [filterOperations]="[]">  
              </dxi-column>      
              <dxi-column
              [minWidth]="250"  
              dataField="cargo_pap"
              caption="Cargo Pap"
              dataType="string"
              selectedFilterOperation="contains"
              [filterOperations]="[]">  
              </dxi-column>   
              <dxi-column
              [minWidth]="150"  
              dataField="sigla_ocupacional_cap"
              caption="Sigla Ocupacional CAP"
              dataType="string"
              selectedFilterOperation="contains"
              [filterOperations]="[]">  
              </dxi-column>      
              <dxi-column
              [minWidth]="250"  
              dataField="tipo_escala"
              caption="Grupo Ocupacional CAP"
              dataType="string"
              selectedFilterOperation="contains"
              [filterOperations]="[]">  
              </dxi-column> 
              </dxi-column>

              <dxi-column
              caption='PRESUPUESTO'
              alignment="center">


              <dxi-column                             
              [minWidth]="60"
              caption="Sede"
              alignment="center"
              dataField="sede"              
              dataType="string"
              selectedFilterOperation="contains"
              [filterOperations]="[]">                                        
              </dxi-column>
              <dxi-column          
              [fixed]="true"         
              [minWidth]="80"
              caption="Ppto."
              alignment="center"
              dataField="ppto_2021"                           
              dataType="string"
              selectedFilterOperation="contains"
              [filterOperations]="[]">                                        
              </dxi-column>
                        <dxi-column
                        [minWidth]="40"  
                        dataField="fuente_base"
                        caption="Fuente"
                        alignment="center"                                 
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">  
                        </dxi-column>
                        <dxi-column
                        [minWidth]="240"  
                        dataField="producto"
                        caption="Producto"                        
                        [fixed]="true"                
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">  
                        </dxi-column>
                        <dxi-column
                        [minWidth]="50"  
                        dataField="meta2"
                        alignment="center"
                        [fixed]="true"
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">  
                      
                        </dxi-column>
 
                        <dxi-column     
                        [minWidth]="280"          
                        dataField="meta_id2"
                        caption="Meta">
                        <dxo-lookup
                        width="200"
                        [dataSource]="metas2"
                        displayExpr="finalidad"
                        valueExpr="idmeta_anual">
                        </dxo-lookup>    
                         </dxi-column>     
                        <dxi-column     
                        [minWidth]="230"          
                        dataField="desc_organo"
                        caption="Organo">  
                    </dxi-column>             
                        <dxi-column
                        [minWidth]="220"  
                        dataField="org_u_id"
                        caption="Unidad"
                        dataType="string"
                        
                        [filterOperations]="[]">  
                            <dxo-lookup
                            [dataSource]="unidades"
                            displayExpr="desc_unidad"
                            valueExpr="id">
                            </dxo-lookup>    
                        </dxi-column>
                        <dxi-column
                        [minWidth]="220"  
                        dataField="org_area_id"
                        caption="Area"
                        dataType="string"                        
                        [filterOperations]="[]">  
                            <dxo-lookup
                            [dataSource]="areas2"
                            displayExpr="desc_area"
                            valueExpr="id">
                            </dxo-lookup>    
                        </dxi-column>
        
                        <dxi-column
                        [minWidth]="70"  
                        dataField="dni"
                        dataType="string" 
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">  
                        </dxi-column>
                        <dxi-column
                        [minWidth]="200"  
                        dataField="nombres"
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">  
                        </dxi-column>
                        <dxi-column
                        caption="Escala"
                        [minWidth]="10"  
                        dataField="escala_remunerativa"
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">  
                        </dxi-column>
                        <dxi-column
                        caption="Grupo"
                        [minWidth]="10"  
                        dataField="desc_escala"
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">  
                        </dxi-column>
                        <dxi-column
                        caption="EPS"
                        [minWidth]="10"  
                        dataField="eps_aporta"
                        dataType="string"
                        selectedFilterOperation="contains"
                        >  
                        </dxi-column>
                        <dxi-column
                        [minWidth]="80"  
                        caption="Escala Inicial"
                        dataField="monto_basico"
                        dataType="number">
                            <dxo-format
                                type="fixedPoint"
                                [precision]="2">
                            </dxo-format>
                        </dxi-column>
                        <dxi-column
                        [minWidth]="80"  
                        caption="Laudo Actual"
                        dataField="monto_escala"
                        dataType="number">
                            <dxo-format
                                type="fixedPoint"
                                [precision]="2">
                            </dxo-format>
                        </dxi-column>
                        <dxi-column
                        [minWidth]="80"  
                        caption="Laudo Sig."
                        dataField="monto_escala_next"
                        dataType="number">
                            <dxo-format
                                type="fixedPoint"
                                [precision]="2">
                            </dxo-format>
                        </dxi-column>
                        <dxi-column
                        [minWidth]="110"  
                        caption="Estado OPP"
                        alignment="center"
                        dataField="estado_opp"
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">    
                        </dxi-column>
                        <dxi-column
                        [minWidth]="110"  
                        caption="Estado Pap"
                        alignment="center"
                        dataField="estado_pap"
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">    
                        </dxi-column>
                        <dxi-column
                        [minWidth]="110"  
                        caption="Estado Actual"
                        alignment="center"
                        dataField="estado_actual"
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">    
                        </dxi-column>
                        <dxi-column
                        [minWidth]="120"  
                        caption="Modalidad"
                        alignment="left"
                        dataField="modalidad"
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">    
                        </dxi-column>
                    </dxi-column>
                <dxi-column
                    caption='Alta'
                    alignment="center">
                           <dxi-column
                           [minWidth]="120"  
                           caption="Tipo"
                           dataField="tipo_ingreso"
                           dataType="string"
                           selectedFilterOperation="contains"
                           [filterOperations]="[]">  
                           </dxi-column>
                           <dxi-column
                           [minWidth]="80"  
                           caption="Fecha"
                           dataField="fe_ingreso"
                           dataType="string"
                           selectedFilterOperation="contains"
                           [filterOperations]="[]">  
                           </dxi-column>   
                           <dxi-column dataField="doc_ingreso" cellTemplate="cellDocIngreso"></dxi-column>
                           <div *dxTemplate="let cellInfo of 'cellDocIngreso'">
                               <div *ngIf="cellInfo.data.doc_ingreso">
                                   <a href="{{cellInfo.data.doc_ingreso}}" target="_blank">Doc</a>
                               </div>                            
                           </div>             
                </dxi-column>     
                
                <dxi-column
                 caption='Baja'
                 alignment="center">
                        <dxi-column
                        [minWidth]="80"  
                        caption="Tipo"
                        dataField="tipo_salida"
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">  
                        </dxi-column>
                       <dxi-column
                        [minWidth]="80"  
                        caption="Fecha"
                        dataField="fe_salida"
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">   
                        </dxi-column>
                        <dxi-column dataField="doc_salida" cellTemplate="cellDocSalida"></dxi-column>
                        <div *dxTemplate="let cellInfo of 'cellDocSalida'">
                            <div *ngIf="cellInfo.data.doc_salida">
                                <a href="{{cellInfo.data.doc_salida}}" target="_blank">Doc</a>
                            </div>                            
                        </div>
                        <dxi-column
                        [minWidth]="80"  
                        caption="Fin Licencia"
                        dataField="fin_licencia"
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">  
                        </dxi-column>
                        <dxi-column dataField="doc_licencia" cellTemplate="cellDocLicencia"></dxi-column>
                        <div *dxTemplate="let cellInfo of 'cellDocLicencia'">
                            <div *ngIf="cellInfo.data.doc_licencia">
                                <a href="{{cellInfo.data.doc_licencia}}" target="_blank">Doc</a>
                            </div>                            
                        </div>   
                </dxi-column>               
                <dxi-column
                 caption='AIRHSP'
                 alignment="center">
                 <dxi-column
                 [minWidth]="100"  
                 caption="Desc. Ingreso"
                 dataField="desc_ingreso_air"
                 dataType="string"
                 selectedFilterOperation="contains"
                 [filterOperations]="[]">  
                 </dxi-column>
                 <dxi-column
                 [minWidth]="80"  
                 caption="FF. AIR"
                 dataField="fuente_air"
                 dataType="string"
                 selectedFilterOperation="contains"
                 [filterOperations]="[]">  
                 </dxi-column>
                        <dxi-column
                        [minWidth]="80"  
                        caption="Vigencia"
                        dataField="fecha_fin_vigencia_cas"
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">  
                        </dxi-column>
                        <dxi-column
                        [minWidth]="80"  
                        caption="Estado Air"
                        dataField="estado_air"
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">  
                        </dxi-column>
                        <dxi-column
                        [minWidth]="80"  
                        caption="F. Alta"
                        dataField="fecha_alta"
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]"> 
                        </dxi-column>
                        <dxi-column
                        [minWidth]="80"  
                        caption="F. Estado"
                        dataField="fecha_estado"
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]"> 
                        </dxi-column>
                        <dxi-column
                        [minWidth]="80"  
                        dataField="dni_air"
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">  
                        </dxi-column>
                        <dxi-column
                        [minWidth]="270"  
                        dataField="nombres_air"
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">  
                        </dxi-column>
                        <dxi-column
                        [minWidth]="70"  
                        dataField="cargo_estructural_air"
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">  
                        </dxi-column>
                        <dxi-column
                        [minWidth]="200"  
                        dataField="desc_cargo_funcional"
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">  
                        </dxi-column>
                        <dxi-column
                        [minWidth]="150"  
                        dataField="grupo_ocupacional_air"
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">  
                        </dxi-column>
                        <dxi-column
                        [minWidth]="80"  
                        dataField="monto_air"
                        dataType="number">
                            <dxo-format
                                type="fixedPoint"
                                [precision]="2">
                            </dxo-format>
                        </dxi-column>
                </dxi-column>
            <dxi-column
                caption='SIGANET'
                alignment="center">
                <dxi-column
                [minWidth]="50"  
                dataField="fuente_siga"
                dataType="string"
                selectedFilterOperation="contains"
                [filterOperations]="[]">  
                </dxi-column>
                <dxi-column
                [minWidth]="50"  
                dataField="meta_siga"
                dataType="string"
                selectedFilterOperation="contains"
                [filterOperations]="[]">  
                </dxi-column>
                <dxi-column
                [minWidth]="270"  
                dataField="unidad_siga"
                dataType="string"
                selectedFilterOperation="contains"
                [filterOperations]="[]">  
                </dxi-column>
                <dxi-column
                [minWidth]="270"  
                dataField="cargo_siga"
                dataType="string"
                selectedFilterOperation="contains"
                [filterOperations]="[]">  
                </dxi-column>
                <dxi-column
                [minWidth]="70"  
                dataField="dni_siga"
                dataType="string"
                selectedFilterOperation="contains"
                [filterOperations]="[]">  
                </dxi-column>
                <dxi-column
                [minWidth]="270"  
                dataField="nombres_siga"
                dataType="string"
                selectedFilterOperation="contains"
                [filterOperations]="[]">  
                </dxi-column>
                <dxi-column
                [minWidth]="80"  
                dataField="monto_siga"
                dataType="number">
                <dxo-format
                    type="fixedPoint"
                    [precision]="2">
                </dxo-format>
      
                  </dxi-column>
            </dxi-column>
            <dxi-column
                caption='JUDICIAL'
                alignment="center">
                <dxi-column
                [minWidth]="270"  
                dataField="cargo_judicial"
                dataType="string"
                selectedFilterOperation="contains"
                [filterOperations]="[]"> 
                </dxi-column>
                <dxi-column
                [minWidth]="80"  
                dataField="ingreso_judicial"
                dataType="string"
                selectedFilterOperation="contains"
                [filterOperations]="[]">  
                </dxi-column>                 
                <dxi-column
                [minWidth]="80"  
                dataField="monto_judicial"
                dataType="number">
                <dxo-format
                    type="fixedPoint"
                    [precision]="2">
                </dxo-format>
                 </dxi-column>
            </dxi-column>
                <dxi-column
                    [minWidth]="280"  
                    dataField="detalle"
                    dataType="string"
                    selectedFilterOperation="contains"
                    [filterOperations]="[]">  
                </dxi-column>
                <dxo-summary>
                    <dxi-total-item
                        column="codigo_plaza"
                        summaryType="count"                        
                        displayFormat="{0}"
                        >
                    </dxi-total-item>
                    <dxi-total-item
                    column="monto_basico"
                    summaryType="sum"
                    valueFormat="#,##0.00"
                    displayFormat="{0}">
                </dxi-total-item>
                    <dxi-total-item
                        column="monto_escala"
                        summaryType="sum"
                        valueFormat="#,##0.00"
                        displayFormat="{0}">
                    </dxi-total-item>
                    <dxi-total-item
                    column="monto_judicial"
                    summaryType="sum"
                    valueFormat="#,##0.00"
                    displayFormat="{0}">
                </dxi-total-item>
                </dxo-summary>                
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                <dxo-search-panel
                [width]="300"
                [visible]="true"
                [highlightCaseSensitive]="false">
        </dxo-search-panel>
            <dxo-summary>
                <dxi-group-item
                    column="codigo_plaza"
                    summaryType="count"
                    displayFormat="{0} registros">
                </dxi-group-item>
                <dxi-group-item
                column="monto"
                summaryType="sum"                
                displayFormat="{0}"
                valueFormat= "#,##0.00"
                [showInGroupFooter]="false"
                [alignByColumn]="true">
                    <dxo-format
                    type="fixedPoint"
                    [precision]="2">
                    </dxo-format>
                </dxi-group-item>
                <dxi-group-item
                column="monto_judicial"
                summaryType="sum"                
                displayFormat="{0}"
                valueFormat= "#,##0.00"
                [showInGroupFooter]="false"
                [alignByColumn]="true">
                    <dxo-format
                    type="fixedPoint"
                    [precision]="2">
                    </dxo-format>
                </dxi-group-item>
               </dxo-summary>
            </dx-data-grid>
            <dx-tooltip position="right">
                <div *dxTemplate="let data of 'content'">
                  <div class='tooltipContent'>
                    <div><b>Base:</b> {{currentEmployee.meta}}</div>
                    <div><b>Siga:</b> {{currentEmployee.meta_siga}}</div>
                  </div>
                </div>
            </dx-tooltip>
</div>