        .odd-row {
            background-color: #CEE3F6 !important;
            color: #000000 !important;
            width: 5% !important;
        }
        .even-row {
            background-color: #2CA8B1 !important;
            color: #ffffff !important;
            width: 10%;
        }

        .rotate {

            writing-mode: tb-rl;
            transform: rotate(-180deg);
          }
          body .ui-table .ui-table-caption, body .ui-table .ui-table-summary{            
            padding: 0.1em 1em !important;           
        }
        body .ui-table .ui-table-thead > tr > th {
            padding: 0.1em 1em !important;           
        }

        body .ui-inputtext{
            padding: 0.1em !important;   
        }