<form [formGroup]="form" (ngSubmit)="onSubmit()">    
<div class="p-grid" style="height: 60px;margin-top: 10px;">
    <div class="p-col-6">
        <span class="ui-float-label">
            <input type="text" pInputText id="float-pedido" formControlName="nro_pedido" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nro_pedido.errors }" />
            <label for="float-pedido" style="color: #000050">N° Pedido</label>
        </span>
            <div *ngIf="submitted && f.nro_pedido.errors" class="invalid-feedback">
                <div *ngIf="f.nro_pedido.errors.required">N° pedido requerido</div>
            </div>
    </div>
    <div class="p-col-6">
        <span class="ui-float-label">
            <input type="text" pInputText id="float-orden" formControlName="orden" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.orden.errors }" />
            <label for="float-orden" style="color: #000050">N° Orden</label>
        </span>
            <div *ngIf="submitted && f.orden.errors" class="invalid-feedback">
                <div *ngIf="f.orden.errors.required">Solo numeros</div>
            </div>        
    </div>
</div>
<div class="p-grid"  style="height: 120px;">
    <div class="p-col">
        <span class="ui-float-label">                       
            <textarea pInputTextarea style="width: 90%;" [rows]="4" id="float-servicio" [cols]="30" formControlName="servicio" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.servicio.errors }"></textarea>                                    
            <label for="float-servicio" style="color: #000050">Servicio</label>          
        </span>
        <div *ngIf="submitted && f.servicio.errors" class="invalid-feedback">
                <div *ngIf="f.servicio.errors.required">Servicio requerido</div>
        </div>
    </div>
</div>
<div class="p-grid" style="height: 60px;">
    <div class="p-col-6">
        <span class="ui-float-label">
                <input type="text" pInputText formControlName="mensual" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mensual.errors }" />
                <label for="float-mensual" style="color: #000050">Mensual</label>
        </span>
                <div *ngIf="submitted && f.mensual.errors" class="invalid-feedback">
                    <div *ngIf="f.mensual.errors.required">Monto mensual requerido</div>
                </div>            
    </div>
    <div class="p-col-6">
        <span class="ui-float-label">
                    <input type="text" pInputText formControlName="total" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.total.errors }" />
                    <label for="float-total" style="color: #000050">Total</label>
        </span>
                    <div *ngIf="submitted && f.total.errors" class="invalid-feedback">
                        <div *ngIf="f.total.errors.required">Monto total requerido</div>
                    </div>
                </div>
</div>
<div class="p-grid" style="height: 60px;">
    <div class="p-col-6">
        <span class="ui-float-label">
            <p-calendar formControlName="inicio" id="float-inicio" [locale]="es" dateFormat="yy/mm/dd" [ngClass]="{ 'is-invalid': submitted && f.inicio.errors }"></p-calendar>
            <label for="float-inicio" style="color: #000050">inicio</label>
        </span>
            <div *ngIf="submitted && f.inicio.errors" class="invalid-feedback">
                <div *ngIf="f.inicio.errors.required">Inicio es requerido</div>
            </div>   
    </div>
    <div class="p-col-6">
        <span class="ui-float-label">
                <input type="text" pInputText formControlName="tiempo_servicio" id="float-tiempo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tiempo_servicio.errors }" />
                <label for="ui-float-tiempo" style="color: #000050">Tiempo</label>
        </span>
                <div *ngIf="submitted && f.tiempo_servicio.errors" class="invalid-feedback">
                    <div *ngIf="f.tiempo_servicio.errors.required">Tiempo requerido</div>
                </div>
    </div>    
</div>
<div class="p-grid"  style="height: 120px;">
    <div class="p-col">
        <span class="ui-float-label">                       
            <textarea pInputTextarea style="width: 90%;" [rows]="4" id="float-detalle" [cols]="30" formControlName="detalle" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.detalle.errors }"></textarea>                                    
            <label for="float-detalle" style="color: #000050">Detalle</label>          
        </span>
        <div *ngIf="submitted && f.detalle.errors" class="invalid-feedback">
                <div *ngIf="f.detalle.errors.required">Detalle requerido</div>
        </div>
    </div>
</div>
<div class="p-grid">
    <div class="p-col">
    <span class="ui-float-label">                    
        <input type="text" pInputText id="id-expediente"  formControlName="expediente" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.expediente.errors }" />
        <label for="id-expediente">Expediente</label>
    </span>
                <div *ngIf="submitted && f.expediente.errors" class="invalid-feedback">
                    <div *ngIf="f.expediente.errors.required">Expediente es requerido</div>
                </div>           
    </div>
</div>
<div class="p-grid">
    <div class="p-col-5 p-offset-3">
        <div class="form-group">
            <button pButton  [disabled]="loading" class="btn btn-primary" label="Guardar"></button>                     
        </div>
    </div>    
</div>
</form>
