body .ui-inputtext{
    font-size:0.8em
}
hr{
    border: 1px solid #5687c0;
}
.ui-float-label textarea:focus ~ label,
.ui-float-label textarea.ui-state-filled ~ label {
  top: -.75em;
  font-size: 12px
}
