<p-toast position="bottom-center"></p-toast>
<div class="ui-g">
    <div class="ui-g-1"></div>
    <div class="ui-g-3">
        Funcional
        <p-dropdown #idfuncional [options]="funcional" [style]="{'width':'100%'}" scrollHeight="400px" placeholder="Funcional" showClear="true"
            optionLabel="desc_funcional" (onChange)='changeFuncional($event)'>
            <ng-template let-item pTemplate="selectedItem">
                <span style="font-size:0.7em;float:left;margin-top:3.5px">{{item.label}}</span>
            </ng-template>
            <ng-template let-car pTemplate="item">
                <div class="ui-helper-clearfix" >
                    <div style="font-size:0.8em;float:left;margin-top:3.5px">{{car.label}}</div>
                </div>
            </ng-template>
        </p-dropdown>                      
    </div>
    <div class="ui-g-2">
        Direccion
            <p-dropdown #iddireccion [options]="direccion" [style]="{'width':'100%'}" scrollHeight="400px" placeholder="Direccion" showClear="true"
            optionLabel="desc_direccion" (onChange)='changeDireccion($event)'>
            <ng-template let-item pTemplate="selectedItem">
                <span style="font-size:0.7em;float:left;margin-top:3.5px">{{item.label}}</span>
            </ng-template>
            <ng-template let-car pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height:25px;">
                    <div style="font-size:0.8em;float:left;margin-top:3.5px">{{car.label}}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
    <div class="ui-g-2">
        Unidad
            <p-dropdown #idunidad [options]="unidad" [style]="{'width':'100%'}" scrollHeight="400px" placeholder="Unidad" showClear="true"
            optionLabel="desc_unidad" (onChange)='changeUnidad($event)'>
            <ng-template let-item pTemplate="selectedItem">
                <span style="font-size:0.7em;float:left;margin-top:3.5px">{{item.label}}</span>
            </ng-template>
            <ng-template let-car pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height:25px;">
                    <div style="font-size:0.8em;float:left;margin-top:3.5px">{{car.label}}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
    <div class="ui-g-2">
        Area
        <p-dropdown #idarea [options]="area" [style]="{'width':'100%'}" scrollHeight="400px" placeholder="Area" showClear="true"
        optionLabel="desc_area" (onChange)='changeArea($event)'>
        <ng-template let-item pTemplate="selectedItem">
            <span style="font-size:0.7em;float:left;margin-top:3.5px">{{item.label}}</span>
        </ng-template>
        <ng-template let-car pTemplate="item">
            <div class="ui-helper-clearfix" style="position: relative;height:25px;">
                <div style="font-size:0.8em;float:left;margin-top:3.5px">{{car.label}}</div>
            </div>
        </ng-template>
    </p-dropdown>
    </div>
    <div class="ui-g-1">
        <br>
        <button pButton type="button" label="Actualizar" (click)="actualizar($event)"></button>
    </div>
</div>

 <p-table #dt [columns]="cols" [value]="res" [resizableColumns]="true" [loading]="loading"  [(selection)]="selectCap" loadingIcon="pi pi-spinner"
 tableStyleClass="prime-table" (onFilter)="handleFilter($event)" scrollHeight="calc(100vh - 210px)" [scrollable]="true" [style]="{padding:'10px 10px 0px 10px'}" dataKey="id">
        <ng-template pTemplate="caption" style="padding-top:0.2em">      
            Servicios                                                                                                                        
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col [style.width]='5'>
            <col *ngFor="let col of columns" [style.width]="col.ancho">
            <col [style.width]='5'>
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>           
            <tr>
                <th>#</th>
                <th *ngFor="let col of columns" style="font-size:0.6em;" [ngSwitch]="col.field" [pSortableColumn]="col.field">     
                    <span *ngSwitchCase="'escolaridad'" [ngClass]="'rotate'">{{col.header}}</span>        
                    <span *ngSwitchCase="'fuente'" [ngClass]="'rotate'">{{col.header}}</span>        
                    <span *ngSwitchCase="'nivelO'" [ngClass]="'rotate'">{{col.header}}</span>        
                    <span *ngSwitchDefault>{{col.header}}</span>                    
                </th>
                <th><i [ngClass]="'pi pi-plus-circle'" style="font-size: 1.3em;margin-left:-0.5em;" (click)="showNewServicio(idfuncional.value,iddireccion.value,idunidad.value,idarea.value)" pTooltip="Nuevo Servicio"></i></th>
            </tr>
            <tr>
                <th>    </th>
                <th *ngFor="let col of columns" style="font-size:0.8em;" [ngSwitch]="col.field">     
                    <input *ngSwitchCase="'id'" size="4" style="width:auto" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">                                            
                    <input *ngSwitchCase="'expediente'" size="8" style="width:auto" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">                                            
                </th>                           
            </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex" let-expanded="expanded">
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" [ngClass]="rowIndex % 2 == 0 ? 'odd-row' : null" >
            <td>
                <a href="#" [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" style="font-size: 0.6em"></i>
                </a>
            </td>
            <td *ngFor="let col of columns" [ngStyle]="col.estilo" style="padding:3px" [ngSwitch]="col.field">                  
                 <span *ngSwitchCase="'servicio'" style="float: left;text-align: left;padding-right: 1.5em;">{{rowData[col.field] }}</span>                                                      
                 <span *ngSwitchCase="'estado'" [style.color]="rowData[col.field]=='VIGENTE'? 'green':rowData[col.field]=='FINALIZADO'?'red':'blue' " style="float: left;text-align: left;padding-right: 1.5em;">{{rowData[col.field] }}</span>                                                      
                 <span *ngSwitchDefault style="float: left;text-align: left;">{{rowData[col.field]}}</span>
            </td>
            <td><i [ngClass]="'pi pi-plus-circle'" style="font-size: 1.3em;margin-left:-0.5em;color: blue;" (click)="showNewPersonal(rowData)" pTooltip="Nuevo Personal"></i></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
            <tr>
                <td colspan="12">Totales</td>                                              
                <td style='font-size:0.75em;text-align:right'>{{res?.length }}</td>
            </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-data let-columns="columns">
        <tr>
            <td [attr.colspan]="12">
                    <p-table [value]="data.servicios_detalle">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 0.5em;font-size: 0.6em;background-color:rgb(255, 234, 188)">Orden</th>                                    
                                    <th style="width: 0.5em;font-size: 0.6em;background-color:rgb(255, 234, 188)">Pedido</th>                                    
                                    <th style="width: 20em;font-size: 0.6em;background-color: rgb(255, 234, 188)">Servicio</th>
                                    <th style="width: 10.0em;font-size: 0.6em;background-color: rgb(255, 234, 188)">Nombres</th>
                                    <th style="width: 1.0em;font-size: 0.6em;background-color: rgb(255, 234, 188)">Tiempo</th>
                                    <th style="width: 1.0em;font-size: 0.6em;background-color: rgb(255, 234, 188)">Mensual</th>
                                    <th style="width: 1.0em;font-size: 0.6em;background-color: rgb(255, 234, 188)">Total</th>                                    
                                    <th style="width: 2.7em;font-size: 0.6em;background-color: rgb(255, 234, 188)">Inicio</th>                                    
                                    <th style="width: 2.7em;font-size: 0.6em;background-color: rgb(255, 234, 188)">Fin</th>                                    
                                    <th style="width: 2.5em;font-size: 0.6em;background-color: rgb(255, 234, 188)">Estado</th>                                    
                                    <th style="width: 2.0em;font-size: 0.6em;background-color: rgb(255, 234, 188)">Editar</th>                                    
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-car>
                                <tr>
                                    <td style='font-size:0.70em;text-align:right'>{{car.orden}}</td>                                    
                                    <td style='font-size:0.70em;text-align:right'>{{car.nro_pedido}}</td>                                    
                                    <td style='font-size:0.70em;text-align:left'>{{car.servicio}}</td>
                                    <td style='font-size:0.70em;text-align:left'>{{car.nombres}}</td>
                                    <td style='font-size:0.70em;text-align:right'>{{car.tiempo_servicio}}</td>
                                    <td style='font-size:0.70em;text-align:right'>{{car.mensual }}</td>
                                    <td style='font-size:0.70em;text-align:right'>{{car.total }}</td>
                                    <td style='font-size:0.70em;text-align:right'>{{car.inicio}}</td>                                    
                                    <td style='font-size:0.70em;text-align:right'>{{car.fin}}</td>                                    
                                    <td style='font-size:0.70em;text-align:right'>{{car.estado}}</td>      
                                    <td><i [ngClass]="'pi pi-pencil'" style="font-size: 1.2em;color: blue;" (click)="showEditPersonal(car)" pTooltip="Editar Personal"></i>
                                        <i [ngClass]="'pi pi-trash'" style="font-size: 1.2em;color: blue;" (click)="showEliminarPersonal(car)" pTooltip="Eliminar Personal"></i></td>                              
                                </tr>
                            </ng-template>
                        </p-table>
            </td>
        </tr>
    </ng-template>
</p-table>
