<p-tabView>
   <p-tabPanel header="Metas" >
      <ng-template pTemplate="content">
         <zd-metas></zd-metas>
      </ng-template>
   </p-tabPanel>
   <p-tabPanel header="Laudos" >
      <ng-template pTemplate="content">
         <zd-laudos></zd-laudos>
      </ng-template>
   </p-tabPanel>
   <p-tabPanel header="Convocatorias" >
      <ng-template pTemplate="content">
         <zd-convocatorias></zd-convocatorias>
      </ng-template>
   </p-tabPanel>
   <p-tabPanel header="Certificados" >
      <ng-template pTemplate="content">
         <zd-certificados></zd-certificados>
      </ng-template>
   </p-tabPanel>
   <p-tabPanel header="Mop" >
      <ng-template pTemplate="content">
         <zd-mop></zd-mop>
      </ng-template>
   </p-tabPanel>
</p-tabView>