<p-tabView>
   <p-tabPanel header="Cantidad"  >
      <ng-template pTemplate="content">
         <zd-reporte-planilla></zd-reporte-planilla>
      </ng-template>
   </p-tabPanel>
   <p-tabPanel header="Presupuesto">
      <ng-template pTemplate="content">
         <zd-reporte-resumen></zd-reporte-resumen>
      </ng-template>
   </p-tabPanel>  
   <p-tabPanel header="Certificado">
      <ng-template pTemplate="content">
         <zd-reporte-certificado></zd-reporte-certificado>
      </ng-template>
   </p-tabPanel>  
   <p-tabPanel header="Ejecucion">
      <ng-template pTemplate="content">
         <zd-reporte-ejecucion></zd-reporte-ejecucion>
      </ng-template>
   </p-tabPanel>  
   <p-tabPanel header="Plazas Cas">
      <ng-template pTemplate="content">
         <zd-reporte-plazas-cas></zd-reporte-plazas-cas>
      </ng-template>
   </p-tabPanel>  
</p-tabView>