    <div class="gridAll" style="margin: 2.0em">    
        <div class="cap">
            <span>CAP</span>
            <hr>
            <div class="card">            
                <div>
                    Personal - SigaNet
                </div>
                <div>
                    <button pButton (click)="showPresupuestal('cap/personal/personal_cap_import','Personal Cap',false)" label="Subir archivo personal CAP (Siga-Net)" style="margin: 0.5em"></button>        
                </div>
            </div>
            <div class="card">            
                <div>
                    Planilla - SigaPower
                </div>
                <div>
                    <button pButton (click)="showPresupuestal('cap/planilla/planilla_cap_import','Planilla Cap',true)" label="Subir archivo planilla CAP (Siga-Power)" style="margin: 0.5em"></button>        
                </div>
            </div>
            <div class="card">            
                <div>
                    Planilla Cts - SigaPower
                </div>
                <div>
                    <button pButton (click)="showPresupuestal('cap/planilla/planilla_cap_cts_import','Planilla Cap Cts',true)" label="Subir archivo planilla CTS (Siga-Power)" style="margin: 0.5em"></button>        
                </div>
            </div>
            <div class="card">
                <div>
                    Datos laborales - AirHsp
                </div>
                <div>
                    <button pButton (click)="showPresupuestal('activos/airhsp/importar','AirHsp',false)" label="Subir archivo airhsp (Mef)" style="margin: 0.5em"></button>        
                </div>
            </div>
        </div>
        <div class="cas">   
            <span>CAS</span>
            <hr>     
            <div class="card">            
                <div>
                    Planilla - SigaNet
                </div>
                <div>
                    <button pButton (click)="showPresupuestal('cas/planilla/importar','Planilla',true)" label="Subir archivo planilla CAS (Siga-Net)" style="margin: 0.5em"></button>        
                </div>
            </div>
            <div class="card">            
                <div>
                    Personal - SigaNet
                </div>
                <div>
                    <button pButton (click)="showPresupuestal('cas/personal/importar','Personal Cas',false)" label="Subir archivo personal CAS (Siga-Net)" style="margin: 0.5em"></button>        
                </div>
            </div>
            <div class="card">
                <div>
                    Datos laborales - AirHsp
                </div>
                <div>
                    <button pButton (click)="showPresupuestal('cas/airhsp/importar','AirHsp Cas',false)" label="Subir archivo airhsp (Mef)" style="margin: 0.5em"></button>        
                </div>
            </div> 
        </div>

        <div class="formativa">  
            <span>PRACTICANTES</span>
            <hr>      
           <div class="card">            
               <div>
                   Planilla - SigaNet
               </div>
               <div>
                   <button pButton (click)="showPresupuestal('formativa/planilla/importar','Planilla Formativa',true)" label="Subir archivo planilla PRACTICANTES (Siga-Net)" style="margin: 0.5em"></button>        
               </div>
           </div>
           <div class="card">            
                <div>
                    Personal - SigaNet
                </div>
                <div>
                    <button pButton (click)="showPresupuestal('formativa/personal/personal_formativa_import','Personal',false)" label="Subir archivo personal PRACTICANTES (Siga-Net)" style="margin: 0.5em"></button>        
                </div>
            </div> 
            <div class="card">
                <div>
                    Datos laborales - AirHsp
                </div>
                <div>
                    <button pButton (click)="showPresupuestal('formativa/airhsp/importar','AirHsp',false)" label="Subir archivo airhsp (Mef)" style="margin: 0.5em"></button>        
                </div>
            </div> 
       </div>

         <div class="presupuestal">
            <span>PRESUPUESTO</span>
            <hr>                   
            <div class="card">
                <div>
                    Certificacion - Siaf 
                </div>
                <div>
                    <button pButton (click)="showPresupuestal('presupuestal/certificacion/importar','Certificacion',false)" label="Subir archivo certificacion (Siaf)" style="margin: 0.5em"></button>        
                </div>
            </div>
            <div class="card">            
                <div>
                    Devengado - Siaf
                </div>
                <div>
                    <button pButton (click)="showPresupuestal('presupuestal/devengado/importar','Devengado',false)" label="Subir archivo FORMATO-H (Siga-Net)" style="margin: 0.5em"></button>        
                </div>
            </div>
            <div class="card">
                <div>
                    Ejecucion Presupuestal - Siaf (genera-data)
                </div>
                <div>
                    <button pButton (click)="showPresupuestal('presupuesto/importar','Presupuesto',false)" label="Subir archivo presupuestal (Siaf)" style="margin: 0.5em"></button>        
                </div>
            </div>
        </div>    
    </div>




  
    

        



