<div class="p-grid" style="margin: 2.0em">
    <div class="col-p-4">
        <p-fieldset legend="Cap">
            <p-card>
                <div class="p-col-12">
                    Datos laborales - AirHsp
                </div>
                <div class="p-col-12" style="margin-top: -1.0em">
                    <button pButton (click)="showPresupuestal('activos/airhsp/importar','AirHsp',false)" label="Subir archivo airhsp (Mef)" style="margin: 0.5em"></button>        
                </div>
            </p-card>
            <p-card>            
                <div class="p-col-12">
                    Personal - SigaNet
                </div>
                <div class="p-col-12" style="margin-top: -1.0em">
                    <button pButton (click)="showPresupuestal('cap/personal/personal_cap_import','Personal Cap',false)" label="Subir archivo servicios (Siga-Net)" style="margin: 0.5em"></button>        
                </div>
            </p-card>
            <p-card>            
                <div class="p-col-12">
                    Planilla - SigaPower
                </div>
                <div class="p-col-12" style="margin-top: -1.0em">
                    <button pButton (click)="showPresupuestal('cap/planilla/planilla_cap_import','Planilla Cap',true)" label="Subir archivo servicios (Siga-Power)" style="margin: 0.5em"></button>        
                </div>
            </p-card>
            <p-card>            
                <div class="p-col-12">
                    Planilla Cts - SigaPower
                </div>
                <div class="p-col-12" style="margin-top: -1.0em">
                    <button pButton (click)="showPresupuestal('cap/planilla/planilla_cap_cts_import','Planilla Cap Cts',true)" label="Subir archivo servicios (Siga-Power)" style="margin: 0.5em"></button>        
                </div>
            </p-card>
        </p-fieldset>
         <p-fieldset legend="Cas">        
            <p-card>            
                <div class="p-col-12">
                    Planilla - SigaNet
                </div>
                <div class="p-col-12" style="margin-top: -1.0em">
                    <button pButton (click)="showPresupuestal('cas/planilla/importar','Planilla',true)" label="Subir archivo servicios (Siga-Net)" style="margin: 0.5em"></button>        
                </div>
            </p-card>
            <p-card>            
                <div class="p-col-12">
                    Personal - SigaNet
                </div>
                <div class="p-col-12" style="margin-top: -1.0em">
                    <button pButton (click)="showPresupuestal('cas/personal/importar','Personal Cas',false)" label="Subir archivo servicios (Siga-Net)" style="margin: 0.5em"></button>        
                </div>
            </p-card>
            <p-card>
                <div class="p-col-12">
                    Datos laborales - AirHsp
                </div>
                <div class="p-col-12" style="margin-top: -1.0em">
                    <button pButton (click)="showPresupuestal('cas/airhsp/importar','AirHsp Cas',false)" label="Subir archivo airhsp (Mef)" style="margin: 0.5em"></button>        
                </div>
            </p-card>            
        </p-fieldset>
    </div>
    <div class="col-p-4">
        <p-fieldset legend="Formativa">        
           <p-card>            
               <div class="p-col-12">
                   Planilla - SigaNet
               </div>
               <div class="p-col-12" style="margin-top: -1.0em">
                   <button pButton (click)="showPresupuestal('formativa/planilla/importar','Planilla Formativa',true)" label="Subir archivo servicios (Siga-Net)" style="margin: 0.5em"></button>        
               </div>
           </p-card>
           <p-card>            
            <div class="p-col-12">
                Personal - SigaNet
            </div>
            <div class="p-col-12" style="margin-top: -1.0em">
                <button pButton (click)="showPresupuestal('formativa/personal/personal_formativa_import','Personal',false)" label="Subir archivo servicios (Siga-Net)" style="margin: 0.5em"></button>        
            </div>
        </p-card>    
        <p-card>
            <div class="p-col-12">
                Datos laborales - AirHsp
            </div>
            <div class="p-col-12" style="margin-top: -1.0em">
                <button pButton (click)="showPresupuestal('formativa/airhsp/importar','AirHsp',false)" label="Subir archivo airhsp (Mef)" style="margin: 0.5em"></button>        
            </div>
        </p-card>             
       </p-fieldset>
   </div>
    <div class="col-p-4">
        <p-fieldset legend="Ordenes">        
            <p-card> 
                <div class="p-col-12">
                    Ordenes de servicio - Siga-Mef 
                </div>
                <div class="p-col-12" style="margin-top: -1.0em">
                    <button pButton (click)="showPresupuestal('servicios/siga/importar',' - (Previamente guardarlo en formato excel 97-2003)',false)" label="Subir archivo servicios (Siga-Mef)" style="margin: 0.5em"></button>        
                </div>                
            </p-card>
            <p-card>
                <div class="p-col-12">
                    Ordenes x Meta - Siga Z 
                </div>
                <div class="p-col-12" style="margin-top: -1.0em">
                    <button pButton (click)="showPresupuestal('servicios/sigaz/importar','Zonales',false)" label="Subir archivo servicios (Siga-Web)" style="margin: 0.5em"></button>        
                </div>
            </p-card>
        </p-fieldset>
    </div>
    <div class="col-p-4">
        <p-fieldset legend="Presupuestal">                   
            <p-card>
                <div class="p-col-12">
                    Certificacion - Siaf 
                </div>
                <div class="p-col-12" style="margin-top: -1.0em">
                    <button pButton (click)="showPresupuestal('presupuestal/certificacion/importar','Certificacion',false)" label="Subir archivo certificacion (Siaf)" style="margin: 0.5em"></button>        
                </div>
            </p-card>
            <p-card>            
                <div class="p-col-12">
                    Devengado - Siaf
                </div>
                <div class="p-col-12" style="margin-top: -1.0em">
                    <button pButton (click)="showPresupuestal('presupuestal/devengado/importar','Devengado',false)" label="Subir archivo servicios (Siga-Net)" style="margin: 0.5em"></button>        
                </div>
            </p-card>
            <p-card>
                <div class="p-col-12" >
                    Ejecucion Presupuestal - Siaf (genera-data)
                </div>
                <div class="p-col-12" style="margin-top: -1.0em">
                    <button pButton (click)="showPresupuestal('presupuesto/importar','Presupuesto',false)" label="Subir archivo presupuestal (Siaf)" style="margin: 0.5em"></button>        
                </div>
            </p-card>
        </p-fieldset>
    </div>


</div>




  
    

        



