<div style="height:calc(100vh - 105px)">
            <dx-data-grid id="gridContainer"   
            [columnMinWidth]="30"                
            [dataSource]="ordenes"
            [showRowLines]="true"
            [showColumnLines]="true"
            [showBorders]="true"
            [rowAlternationEnabled]="true"
            [remoteOperations]="false"
            [paging]="false"
            (onToolbarPreparing)="onToolbarPreparing($event)"
            >
            <dxo-export [enabled]="true" fileName="BaseCas" [allowExportSelectedData]="true"></dxo-export>                                                      
            <dxo-filter-row 
            [visible]="true"             
            ></dxo-filter-row>
            <dxo-header-filter 
            [visible]="true"></dxo-header-filter>
            <div *dxTemplate="let data of 'actualizado'">                
                <span >Actualizado {{actualizado}}   </span>                
            </div>
            <dxi-column                   
                [width]="50"
                caption="Codigo"                    
                dataField="codigo_plaza"                
                dataType="string"
                alignment="center"
                selectedFilterOperation="contains"
                [filterOperations]="[]">                                        
            </dxi-column>
            <dxi-column                   
            [width]="60"
            caption="Fte."
            alignment="center"
            dataField="fuente_air"                    
            dataType="string"
            selectedFilterOperation="contains"
            [filterOperations]="[]">                                        
            </dxi-column>
            <dxi-column                   
            [width]="80"
            caption="Meta"
            alignment="center"
            dataField="secuencia_funcional"                    
            dataType="string"
            selectedFilterOperation="contains"
            [filterOperations]="[]">                                        
            </dxi-column>
 
            <dxi-column
            [width]="250"  
            dataField="nombres"
            alignment="left"            
            dataType="string"
            selectedFilterOperation="contains"
            [filterOperations]="[]">  
            </dxi-column>
            <dxi-column     
                [width]="280"          
                dataField="desc_establecimiento"
                caption="Dependencia">                
            </dxi-column>                
            <dxi-column
            [width]="280"  
            dataField="desc_unidad_organica"
            caption="Unidad"
            dataType="string"
            selectedFilterOperation="contains"
            [filterOperations]="[]">                  
            </dxi-column>  
            <dxi-column
            [width]="250"  
            dataField="desc_cargo_funcional"
            dataType="string" 
            caption="Cargo"
            selectedFilterOperation="contains"
            [filterOperations]="[]">  
            </dxi-column>
            <dxi-column
            [width]="100"  
            dataField="fecha_fin_vigencia_cas"
            caption="Vigencia"
            dataType="string"
            selectedFilterOperation="contains"
            [filterOperations]="[]">  
            </dxi-column>  
            <dxi-column
            [width]="60"  
            dataField="estado"
            caption="Estado"
            dataType="string"
            selectedFilterOperation="contains"
            [filterOperations]="[]">  
            </dxi-column>                
            <dxi-column
            [width]="70"  
            dataField="fecha_ingreso"
            caption="Ingreso"
            dataType="string"
            selectedFilterOperation="contains"
            [filterOperations]="[]">  
            </dxi-column>             
            <dxi-column
            [width]="80"  
            dataField="RemPrinMensual"
            caption="Monto"
            dataType="number">
                <dxo-format
                    type="fixedPoint"
                    [precision]="2">
                </dxo-format>
            </dxi-column>
            <dxi-column
            [width]="80"  
            dataField="essalud"
            caption="Essalud"
            dataType="number">
                <dxo-format
                    type="fixedPoint"
                    [precision]="2">
                </dxo-format>
            </dxi-column>
            <dxo-summary>
                <dxi-total-item
                    column="codigo_plaza"
                    summaryType="count"                    
                    displayFormat="{0}"
                    >
                </dxi-total-item>
                <dxi-total-item
                    column="RemPrinMensual"
                    summaryType="sum"
                    valueFormat="#,##0.00"
                    displayFormat="{0}">
                </dxi-total-item>
            </dxo-summary>                
            <dxo-paging [enabled]="false"></dxo-paging>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
            <dxo-search-panel
            [width]="300"
            [visible]="true"
            [highlightCaseSensitive]="false">
            </dxo-search-panel>
        <dxo-summary>
            <dxi-group-item
                column="codigo_plaza"
                summaryType="count"
                displayFormat="{0} registros">
            </dxi-group-item>
            <dxi-group-item
            column="RemPrinMensual"
            summaryType="sum"                
            displayFormat="{0}"
            valueFormat= "#,##0.00"
            [showInGroupFooter]="false"
            [alignByColumn]="true">
                <dxo-format
                type="fixedPoint"
                [precision]="2">
                </dxo-format>
            </dxi-group-item>
           </dxo-summary>
        </dx-data-grid>
</div>