<div style="height:calc(100vh - 105px)">
            <dx-data-grid id="gridContainer"     
                keyExpr="id"                             
                [dataSource]="dataSource"
                [showRowLines]="true"
                [showColumnLines]="true"
                [showBorders]="true"
                [rowAlternationEnabled]="true"
                [remoteOperations]="false"
                [paging]="false"
                [columnWidth]="40"
                (onCellPrepared)="onCellPrepared($event)"
                (onEditorPrepared)="onEditorPrepared($event)"
                (onContextMenuPreparing)="addMenuItems($event)"
                >                          
                <dxo-export [enabled]="true" fileName="BaseCas" [allowExportSelectedData]="true"></dxo-export>                                                      
                <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
                <dxo-filter-row 
                [visible]="true" 
                ></dxo-filter-row>
                <dxo-header-filter 
                [visible]="true"></dxo-header-filter>
                <dxo-scrolling
                    mode="standard" rowRenderingMode="standard" columnRenderingMode= "standard"
                    showScrollbar="always"> <!-- or "virtual" | "infinite" -->                    
                </dxo-scrolling>

                <dxi-column
                  caption='Datos requeridos'
                  alignment="center">    
                        <dxi-column
                        [minWidth]="350"  
                        dataField="cargo"
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">  
                        </dxi-column>    
                        <dxi-column
                        [minWidth]="25"  
                        dataField="regimen"
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">  
                        </dxi-column>                     
                        <dxi-column
                        [minWidth]="40"  
                        dataField="fuente_base"
                        caption="Fuente"
                        alignment="center"                                  
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">  
                        </dxi-column>    
                        <dxi-column
                        [minWidth]="40"  
                        dataField="remuneraciones"
                        caption="Remuneraciones"
                        alignment="center"                             
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">  
                        </dxi-column>                                                                          
                        <dxi-column
                        [minWidth]="80"  
                        caption="Monto"
                        dataField="monto_sctr"
                        dataType="number">
                            <dxo-format
                                type="fixedPoint"
                                [precision]="2">
                            </dxo-format>
                        </dxi-column>   
                    </dxi-column>                                    
                        <dxi-column
                        [minWidth]="110"  
                        caption="Estado"
                        alignment="center"
                        dataField="estado_actual"
                        dataType="string"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">    
                        </dxi-column>                                         
                    <dxi-column                   
                        [minWidth]="60"
                        caption="AirHsp"                    
                        dataField="codigo_plaza"
                        dataType="string"
                        alignment="left"
                        selectedFilterOperation="contains"
                        [filterOperations]="[]">                                        
                    </dxi-column>     
                <dxo-summary>
                    <dxi-total-item
                        column="regimen"
                        summaryType="count"                        
                        displayFormat="{0}"
                        >
                    </dxi-total-item>
                    <dxi-total-item
                        column="monto"
                        summaryType="sum"
                        valueFormat="#,##0.00"
                        displayFormat="{0}">
                    </dxi-total-item>
                </dxo-summary>                
                <dxo-paging [enabled]="false"></dxo-paging>
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                <dxo-search-panel
                [width]="300"
                [visible]="true"
                [highlightCaseSensitive]="false">
                 </dxo-search-panel>
                  <dxo-summary>
                <dxi-group-item
                    column="regimen"
                    summaryType="count"
                    displayFormat="{0} registros">
                </dxi-group-item>
                <dxi-group-item
                column="monto"
                summaryType="sum"                
                displayFormat="{0}"
                valueFormat= "#,##0.00"
                [showInGroupFooter]="false"
                [alignByColumn]="true">
                    <dxo-format
                    type="fixedPoint"
                    [precision]="2">
                    </dxo-format>
                </dxi-group-item>
               </dxo-summary>
            </dx-data-grid>
            <dx-tooltip position="right">
                <div *dxTemplate="let data of 'content'">
                  <div class='tooltipContent'>
                    <div><b>Base:</b> {{currentEmployee.meta}}</div>
                    <div><b>Siga:</b> {{currentEmployee.meta_siga}}</div>
                  </div>
                </div>
            </dx-tooltip>
</div>