<p-tabView>
   <p-tabPanel header="Ejecucion"  >
      <ng-template pTemplate="content">
         <zd-devengado-cas></zd-devengado-cas>
      </ng-template>
   </p-tabPanel>
   <p-tabPanel header="Planilla">
      <ng-template pTemplate="content">
         <zd-planilla-cas></zd-planilla-cas>
      </ng-template>
   </p-tabPanel>  
   <p-tabPanel header="Proyeccion 1">
      <ng-template pTemplate="content">
         <zd-proyeccion-cas></zd-proyeccion-cas>
      </ng-template>
   </p-tabPanel>   
   <p-tabPanel header="Proyeccion 2">
      <ng-template pTemplate="content">
         <zd-proyeccion-dos-cas></zd-proyeccion-dos-cas>
      </ng-template>
   </p-tabPanel>   
   <p-tabPanel header="Proyeccion 3">
      <ng-template pTemplate="content">
         <zd-proyeccion-tres-cas></zd-proyeccion-tres-cas>
      </ng-template>
   </p-tabPanel>   
</p-tabView>