
<p-menubar [model]="items">
    <button pButton label="Salir" icon="pi pi-power-off" (click)='logout()'></button>
  <ng-template pTemplate="start">
      <img src="assets/showcase/images/primeng.svg" height="40" class="p-mr-2">
  </ng-template>
  <ng-template pTemplate="end">
      <input type="text" pInputText placeholder="Search">
  </ng-template>
</p-menubar>
<!--
 <nav>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Inicio</a>       
      <a routerLink="/airhsp" routerLinkActive="active">AirHsp</a>     
      <a routerLink="/airhsp_cas" routerLinkActive="active">AirHsp Cas</a>     
      <a routerLink="/base_cas" routerLinkActive="active">Base Cas</a>     
      <a routerLink="/planilla_cas" routerLinkActive="active">Planilla Cas</a>     
      <a routerLink="/base_formativa" routerLinkActive="active">Base Formativa</a>     
      <a routerLink="/planilla_formativa" routerLinkActive="active">Planilla Formativa</a>     
      <a routerLink="/base_cap" routerLinkActive="active">Base Cap</a>     
      <a routerLink="/planilla_cap" routerLinkActive="active">Planilla Cap</a>     
      <a routerLink="/certificacion_cas" routerLinkActive="active">Certificacion Cas</a>     
      <a routerLink="/proyeccion_cas" routerLinkActive="active">Proyeccion Cas</a>     
      <a routerLink="/cap" routerLinkActive="active">Control Plazas Cap</a>
      <a routerLink="/pap" routerLinkActive="active">Pap</a>
      <a routerLink="/presupuesto" routerLinkActive="active">Presupuesto</a>            
      <a routerLink="/servicios" routerLinkActive="active">Servicios</a>      
      <a routerLink="/sigamef" routerLinkActive="active">Siga - Mef</a>     
      <a routerLink="/sigaz" routerLinkActive="active">Siga - Z</a>              
      <a routerLink="/importar" routerLinkActive="active">Importar</a>     
    </nav>


  -->

