
<div class="card">
    <p-dataView #dv [value]="datos" 
         layout="grid">

        <ng-template let-product pTemplate="gridItem">
            <div class="col-2 md:col-4">
                <div class="product-grid-item card">
                    <div class="product-grid-item-top">
                        <div>   
                           <!--  <i class="pi pi-search" (click)="newTodo()" style="cursor:pointer"></i>                        -->  
                            <span class="product-category">{{product.titulo}}</span>
                       
                        </div>
                      <!--   <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.texto}}</span> -->
                    </div>
                    <div class="product-grid-item-content">
                        <div class="product-name">{{product.fecha}}</div>
                        <div class="product-description"><pre>{{product.texto}}</pre></div>                       
                    </div>
                    <div class="product-grid-item-bottom">
                       
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>

<p-dialog header="Agregar"  showEffect="pide"  width="400">
        <form [formGroup]="rForm" (ngSubmit)="postTodo(rForm.value)">
        
        <div class="p-grid">
            <div class="p-col-3">Prioridad</div>
            <div class="p-col-9">
                    <select formControlName="nivel" class="ui-dropdown">
                            <option *ngFor="let hmo of cities" [value]="hmo.value.name">{{hmo.label}}</option>
                    </select>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-3">Titulo</div>
            <div class="p-col-9"><input type="text" formControlName="titulo"></div>
        </div>
        <div class="p-grid">
            <div class="p-col-3">Texto:</div>
            <div class="p-col-9"> <textarea  formControlName="texto"></textarea></div>
        </div>
        <div class="p-grid">
            <div class="p-col-3">Fecha </div>
            <div class="p-col-9">
                <p-calendar appendTo="body" formControlName="fecha" [locale]="es" dateFormat="yy/mm/dd">
                    </p-calendar>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-3">Tipo </div>
            <div class="p-col-9">
                <select formControlName="tipo" class="ui-dropdown">
                    <option *ngFor="let item of tipos" [value]="item.value.name">{{item.label}}</option>
                </select>
            </div>
        </div>
        <div class="p-grid">
                <div class="p-col-12">
                <button type="submit" pButton class="button expanded" [style]="{'float': 'center'}" label="Guardar" [disabled]="!rForm.valid"></button>
                </div>
        </div>
            </form>
</p-dialog>

