
           <dx-data-grid id="gridContainer"   
           keyExpr="id"
           [columnAutoWidth]="true"
           [height]="750" 
           [dataSource]="dataSource"
           [showRowLines]="true"                        
           [showColumnLines]="true"
           [showBorders]="true"
           [rowAlternationEnabled]="true"           
           (onCellClick)="open($event)"
           [remoteOperations]="false"
           (onToolbarPreparing)="onToolbarPreparing($event)"
           (onSaving)="logEvent('Saving')"
           >
           <dxo-editing 
           mode="row"
           [allowUpdating]="true"
           >
           </dxo-editing>
           <dxo-export [enabled]="true" fileName="Solicitud de Certificaciones CAS" [allowExportSelectedData]="true"></dxo-export>                        
           <dxo-filter-row 
               [visible]="true" 
               >
           </dxo-filter-row>
           <dxo-header-filter 
               [visible]="false">
           </dxo-header-filter>
           <dxo-scrolling
               mode="standard"
               showScrollbar="always"> <!-- or "virtual" | "infinite" -->                    
           </dxo-scrolling>
           <dxi-column                   
           [width]="50"
           caption="Año"
           alignment="center"
           dataField="anio"                            
           dataType="string"                           
           selectedFilterOperation="contains"
           [filterOperations]="[]"
           [filterValue]="['2022']">                                        
       </dxi-column>  
           <dxi-column                   
               [width]="90"
               caption="Exp."
               alignment="center"
               dataField="expediente"                            
               dataType="string"                           
               selectedFilterOperation="contains"
               [filterOperations]="[]">                                        
           </dxi-column>  
           <dxi-column                   
           [width]="90"
           caption="Tipo"
           alignment="center"
           dataField="modalidad_concurso"                            
           dataType="string"                           
           selectedFilterOperation="contains"
           [filterOperations]="[]">   
           <dxo-lookup 
           width="100"          
           [dataSource]="['NINGUNO','INDETERMINADO','TEMPORAL']"
       >
  </dxo-lookup>                                     
       </dxi-column>  
       <dxi-column                   
       [width]="90"
       caption="Sustento"
       alignment="center"
       dataField="sustento_legal"                            
       dataType="string"                           
       selectedFilterOperation="contains"
       [filterOperations]="[]"> 
       <dxo-lookup 
       width="100"          
       [dataSource]="['NINGUNO','DU_034_2021','DU_083_2021','LEY_31365']"
   >
</dxo-lookup>                                         
   </dxi-column>                       
           <dxi-column                   
           [width]="180"
           caption="Solicitud"
           alignment="center"
           dataField="solicitud"                        
           dataType="string"
           selectedFilterOperation="contains"
           [filterOperations]="[]">                                        
            </dxi-column>
            <dxi-column
               [width]="80"  
               caption="Fecha"
               dataField="fecha_solicitud"
               alignment="center"                        
               dataType="date"
               selectedFilterOperation="contains"
               format="yyyy-MM-dd"
               [filterOperations]="[]">  
            </dxi-column> 

           <dxi-column
           [width]="60"  
           caption="Plaza"
           dataField="codigo_plaza"
           alignment="center"                        
           dataType="string"
           selectedFilterOperation="contains"
           [filterOperations]="[]">  
           </dxi-column>
           <dxi-column     
           [width]="220"         
           dataField="dependencia"
           caption="Dependencia"
           dataType="string"
           selectedFilterOperation="contains"
           [filterOperations]="[]">  
           </dxi-column> 
           <dxi-column    
           [width]="280"          
           dataField="cargo"
           caption="Cargo"
           dataType="string"
           selectedFilterOperation="contains"
           [filterOperations]="[]">  
           </dxi-column>   
           <dxi-column    
           [width]="300"          
           dataField="desc_motivo_creacion_registro"
           caption="Creacion AIR"
           dataType="string"
           selectedFilterOperation="contains"
           [filterOperations]="[]">  
           </dxi-column>   
           <dxi-column    
           [width]="50"          
           dataField="cod_cargo_funcional"
           caption="Codigo cargo"
           dataType="string"
           selectedFilterOperation="contains"
           [filterOperations]="[]">  
           </dxi-column>  
           <dxi-column    
           [width]="80"          
           dataField="cargo_air"
           caption="Cargo Air"
           dataType="string"
           selectedFilterOperation="contains"
           [filterOperations]="[]">  
           </dxi-column>                               
           <dxi-column
               [width]="60"  
               dataField="monto"
               dataType="number">
                   <dxo-format
                   type="fixedPoint"
                   [precision]="2">
                   </dxo-format>
           </dxi-column>   
           <dxi-column
               [width]="60"  
               caption="Monto AIR"
               dataField="monto_air"
               dataType="number">
                   <dxo-format
                   type="fixedPoint"
                   [precision]="2">
                   </dxo-format>
           </dxi-column> 

           <dxi-column    
                [width]="90"          
                dataField="tipo"
                caption="Tipo"
                dataType="string"
                selectedFilterOperation="contains"
                [filterOperations]="[]">  
                <dxo-lookup 
                    width="80"          
                    [dataSource]="['TRAMITE','CERTIFICACION']"
                >
           </dxo-lookup>
             </dxi-column>    
           <dxi-column    
               [width]="70"          
               dataField="motivo"
               caption="Motivo"
               dataType="string"
               selectedFilterOperation="contains"
               [filterOperations]="[]">  
               <dxo-lookup 
                 width="80"          
                 [dataSource]="['NINGUNO','PLAZA','PRESUPUESTO']"
               >
               </dxo-lookup>
           </dxi-column>    
           <dxi-column    
           [width]="30"          
           dataField="modalidad"
           caption="Modalidad"
           dataType="string"
           selectedFilterOperation="contains"
           [filterOperations]="[]">  
           <dxo-lookup 
               width="80"          
               [dataSource]="['NINGUNO','CAS','CAP','FORMATIVA','OBRERO']"
           >
           </dxo-lookup>   
      </dxi-column>
     
           <dxo-paging [enabled]="false"></dxo-paging>
           <dxo-group-panel [visible]="true"></dxo-group-panel>
           <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
           <dxo-search-panel
               [width]="300"
               [visible]="true"
               [highlightCaseSensitive]="false">
           </dxo-search-panel>
            <dxo-summary>
           <dxi-total-item
           column="monto"
           summaryType="sum"
           valueFormat="#,##0.00"
           displayFormat="{0}">
           </dxi-total-item>
           <dxi-group-item
           column="monto"
           summaryType="sum"                
           displayFormat="{0}"
           valueFormat= "#,##0.00"
           [showInGroupFooter]="false"
           [alignByColumn]="true">
               <dxo-format
               type="fixedPoint"
               [precision]="2">
               </dxo-format>
           </dxi-group-item>
                   </dxo-summary>
         </dx-data-grid>

