<dx-toast [(visible)]="isVisible" [type]="type" [message]="message">
</dx-toast>
<div class="container">
    <h2>Normal</h2>
    <div class="flex-container" fxLayout="row">
      <div class="child-1">1. One</div> 
      <div class="child-2">2. Two</div> 
      <div class="child-3">3. Three</div>
    </div>

    <h2>Default</h2>
    <div class="flex-container" fxLayout="row">
      <div class="child-1" fxFlex>1. One</div> 
      <div class="child-2" fxFlex>2. Two</div> 
      <div class="child-3" fxFlex>3. Three</div>
    </div>

    <h2>fxFlex with grow shrink values</h2>
    <div class="flex-container" fxLayout="row">
      <div class="child-1" fxFlex="2 1 0">1. One</div> 
      <div class="child-2" fxFlex>2. Two</div> 
      <div class="child-3" fxFlex>3. Three</div>
    </div>


 <!--    <div>
        <form [formGroup]="formulario">
            
                <div >                       
                    Expediente
                </div>
                <div>
                    <input style="width: 30%;" formControlName="expediente" pInputText type="text">
                </div>                                                                                                
        </form>   
        <form [formGroup]="item">
                <div  >
                    <div >
                        Modalidad
                    </div>
                    <div >                                
                        <p-dropdown #modalidad_conv [options]="modalidades" formControlName="modalidad_conv" id="float-modalidad" [autoDisplayFirst]="false" 
                        filter="true" appendTo="body" [style]="{'width':'100%'}" scrollHeight="400px"
                        showClear="true" optionLabel="label">
                            <ng-template let-item pTemplate="selectedItem">
                                <span style="font-size:0.8em;Float:left;margin-top:3.5px">{{item.label}}</span>
                            </ng-template>
                            <ng-template let-car pTemplate="item">
                                <div class="ui-helper-clearfix">  
                                    <div style="font-size:0.8em;float:left;margin-top:3.5px">{{car.label}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        
                    </div> 
                    <div >
                        Sustento
                    </div>
                    <div >                                
                        <p-dropdown #modalidad_conv [options]="sustentos" formControlName="sustento_conv" id="float-sustento" [autoDisplayFirst]="false" 
                        filter="true" appendTo="body" [style]="{'width':'100%'}" scrollHeight="400px"
                        showClear="true" optionLabel="label">
                            <ng-template let-item pTemplate="selectedItem">
                                <span style="font-size:0.8em;Float:left;margin-top:3.5px">{{item.label}}</span>
                            </ng-template>
                            <ng-template let-car pTemplate="item">
                                <div class="ui-helper-clearfix">  
                                    <div style="font-size:0.8em;float:left;margin-top:3.5px">{{car.label}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                         
                    </div> 
                        <div >
                            Codigo Plaza
                        </div>
                        <div >                            
                           
                                <div >
                                    <input formControlName="codigo_plaza" style="width: 80%;" pInputText type="text">
                                </div>
                                
                                <div >
                                        <button pButton (click)="certificacionCasValidar('001693')" style="display: inline-block;text-align: center;" type="button" label="Validar" class="ui-button-raised ui-button-info"></button>                              
                                </div>
                           
                        </div>
                        <div >
                            cargo
                        </div>
                        <div >
                            
                                <div >
                                    <textarea  formControlName="cargo" style="width: 100%;" pInputText type="text"></textarea>
                                </div>
                                   <div >
                                        <button pButton (click)="certificacionCargoUpdate()" style="text-align: left;" type="button" label="Actualizar" class="ui-button-raised ui-button-info"></button>                              
                                    </div>
                            
                        </div>
                        <div >
                                Area
                        </div>
                        <div>                                
                            <p-dropdown #area_id [options]="areas" formControlName="area" id="float-area" [autoDisplayFirst]="false" 
                            filter="true" appendTo="body" [style]="{'width':'100%'}" scrollHeight="400px"
                            showClear="true" optionLabel="desc_area">
                                <ng-template let-item pTemplate="selectedItem">
                                    <span style="font-size:0.8em;Float:left;margin-top:3.5px">{{item.label}}</span>
                                </ng-template>
                                <ng-template let-car pTemplate="item">
                                    <div class="ui-helper-clearfix">  
                                        <div style="font-size:0.8em;float:left;margin-top:3.5px">{{car.label}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                            
                        </div> 


                        <div >
                            Meta
                        </div>
                        <div>
                                <p-dropdown #meta_id [options]="metas" formControlName="meta" id="float-meta" [autoDisplayFirst]="false" 
                                filter="true" appendTo="body" [style]="{'width':'100%'}" scrollHeight="400px"
                                showClear="true" optionLabel="finalidad">
                                    <ng-template let-item pTemplate="selectedItem">
                                        <span style="font-size:0.8em;Float:left;margin-top:3.5px">{{item.label}}</span>
                                    </ng-template>
                                    <ng-template let-car pTemplate="item">
                                        <div class="ui-helper-clearfix">  
                                            <div style="font-size:0.8em;float:left;margin-top:3.5px">{{car.label}}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                        </div> 
                        <div >
                            Honorarios
                        </div>
                        <div >
                            <input formControlName="honorario_mensual" type="number" style="width: 50%;" pInputText type="text">
                        </div>  
                        <div >
                            Aguinaldo
                        </div>
                        <div >
                            <input formControlName="aguinaldo_total" style="width: 50%;" pInputText type="text">
                        </div>   
                        <div >
                            Meses
                     </div>
                     <div >
                                
                                             <input formControlName="meses" style="width: 100%;" pInputText type="text">
                                         </div>
                                         <div >
                                                 <button pButton (click)="addItem()" style="display: inline-block;text-align: center;" type="button" label="Agregar" class="ui-button-raised ui-button-info"></button>
                                                 <button pButton (click)="newExpediente()" style="display: inline-block;text-align: center;" type="button" label="Crear" class="ui-button-raised ui-button-info"></button>
                                
                     </div>       
            </div>   
        </form> 
    </div> 
  
    <div>
            
                    
                        <p-table [columns]="cols_validar" [value]="plazas_validar" id="basic-table">
                                <ng-template pTemplate="caption">    
                                    Validacion
                                </ng-template>
                                <ng-template pTemplate="header" let-columns let-rowData >    
                                    <tr>
                                            <th *ngFor="let col of columns" [ngStyle]="col.estilo_header" [style.width]="col.ancho">
                                                <span>{{col.header}}</span>   
                                            </th>
                                    </tr> 
                                </ng-template>
                                <ng-template pTemplate="body" let-item>
                                        <tr>
                                            <td *ngFor="let col of cols_validar" [ngStyle]="col.estilo">
                                                    {{item[col.field]}}
                                            </td>
                                        </tr>
                                </ng-template>
                        </p-table>                
    </div> -->
</div>

<!--     <div  >
            <div class="p-col-12" >
                <p-table [columns]="cols_itemData" [value]="itemData" id="basic-table">
                        <ng-template pTemplate="caption">    
                            Solicitud de Certificacion
                        </ng-template>
                        <ng-template pTemplate="header" let-columns let-rowData >    
                            <tr>
                                    <th *ngFor="let col of columns" [ngStyle]="col.estilo_header" [style.width]="col.ancho">
                                        <span>{{col.header}}</span>   
                                    </th>
                            </tr> 
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                                <tr>
                                    <td *ngFor="let col of cols_itemData" [ngStyle]="col.estilo" [ngSwitch]="col.field">
                                        <span *ngSwitchCase="'meta'">{{item[col.field].meta }}</span>
                                        <span *ngSwitchCase="'finalidad'">{{item.meta.finalidad }}</span>
                                        <span *ngSwitchCase="'desc_area'">{{item.area.desc_area }}</span>
                                        <span *ngSwitchDefault>{{item[col.field]}}</span>                                            
                                    </td>
                                </tr>
                        </ng-template>
                </p-table>    
            </div>
    </div>  -->

    


         

